.about-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  min-height: 78vh;
  min-width: 95vw;
  max-width: 95vw;
}

.about-container p {
  position: relative;
  left: 3vw;
  margin-right: 5vw;
}