@font-face {
  font-family: Distant Galaxy;
  src: url('../../fonts/sf-distant-galaxy/TrueType/SFDistantGalaxy.ttf') format('truetype');
}
@font-face {
  font-family: Distant Galaxy;
  src: url('../../fonts/sf-distant-galaxy/TrueType/SFDistantGalaxyAlternate.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: Arenq;
  src: url('../../fonts/arenq/Arenq.otf') format('opentype');
}

@font-face {
  font-family: Expansiva;
  src: url('../../fonts/expansiva/Expansiva.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: Expansiva;
  src: url('../../fonts/expansiva/Expansiva_bold.otf') format('opentype');
  font-weight: bold;
}


@font-face {
  font-family: Enter-sansman;
  src: url('../../fonts/enter-sansman/entsans.ttf') format('truetype');
}

@font-face {
  font-family: Electrum;
  src: url('../../fonts/Electrum-Exp/OTF/ElectrumADFExp-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: Electrum;
  src: url('../../fonts/Electrum-Exp/OTF/ElectrumADFExp-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: Orbitron;
  src: url('../../fonts/orbitron/OrbitronMedium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Orbitron;
  src: url('../../fonts/orbitron/OrbitronBlack.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Pilo-Thin;
  src: url('../../fonts/Pilo-Thin.otf') format('opentype');
}

