@import 'navigation';

footer {
  color: var(--color-21);
  position: fixed;
  bottom: 0;
  left: -8px;
  width: 105%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-0);
  box-shadow: inset 0 2px 7px var(--color-41);
  z-index: 100;
}

footer .ripples-container-large {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.educations-container {
  position: fixed;
  left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}


#educations-dot {
  position: absolute;
  bottom: 1px;
  left: -8px;
  font-size: 4em;
  animation: blink 2.5s infinite;
  color: var(--color-3);
  text-shadow: 1px -1px 1px var(--color-2),
  -1px 0 1px var(--color-00),
  -1px -1px 1px var(--color-4-0);
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.educations-wrapper {
  position: absolute;
  left: 20px;
  bottom: -37px;
  white-space: nowrap;
  overflow: hidden;
}

#educations {
  font-size: 2.5em;
  font-weight: bold;
  display: inline-block;
  color: var(--color-41);
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px var(--color-2),
  -1px 0 1px var(--color-00),
  -1px -1px 1px var(--color-4-0);
  white-space: nowrap;
  overflow: hidden;
}

i{
  margin: 0 10px;
  color: var(--color-4);
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px var(--color-2),
  -1px 0 1px var(--color-00),
  -1px -1px 1px var(--color-4-0);
}

#fa-square-phone-flip {
  transform: scaleX(-1) rotate(90deg) ;
}
footer i:hover,
footer i:active {
  scale: 1.4;
  color: var(--color-41);
}

footer a:focus,
footer a:focus i{
  color: var(--color-41);
  outline: none;
  @include animate(bounce, up, null, 1s, .5);
  scale: 1.2;
}