header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 105%;
  height: 10vh;
 /* display: flex;
  justify-content: center;
  align-items: center;*/
  background-color: var(--color-0);
  box-shadow: inset 0 -4px 9px var(--color-4);
  z-index: 100;
}

header .ripples-container-large {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

h1 {
  position: absolute;
/*  left: 2%;
  top: 2%;*/
  left: 0;
  letter-spacing: 1px;
  font-size: x-small;
  color: var(--color-4-0);
  filter: brightness(60%);
  scale: .85;
/*  rotate: 270deg;*/
}

.h1-enrico {
  position: absolute;
  left: 65px;
  top: 12px;
}

.h1-schulz {
  position: absolute;
  left: 143px;
  top: -38px;
}

#es {
  position: fixed;
  margin: 0;
  height: 13.5vh;
  top: -15px;
  left: -20px;
  filter: brightness(65%);
}

#es-shape {
  position: fixed;
  margin: 0;
  height: 14.5vh;
  top: -18px;
  left: -28px;
  filter: brightness(65%);
}