@mixin animate($animation, $direction: null, $scale: null, $duration: 0.75s, $repeat: 1) {
  @keyframes #{$animation} {
    0% {
      @if $animation == "bounce" {
        transform: translateY(0);
      }
      @else if $animation == "spin" {
        transform: rotateZ(if(#{$direction} == up, 0deg, 180deg));
      }
      @else if $animation == "rotate" {
        transform: rotateY(0deg);
      }
      @else if $animation == "scale" {
        transform: scale(1);
      }
    }
    50% {
      @if $animation == "bounce" {
        transform: translateY(if(#{$direction} == up, -0.75rem, 0));
      }
      @else if $animation == "spin" {
        transform: rotateZ(if(#{$direction} == up, 180deg, 0deg));
      }
      @else if $animation == "rotate" {
        transform: rotateY(180deg);
      }
      @else if $animation == "scale" {
        transform: scale(#{$scale});
      }
    }
    100% {
      @if $animation == "bounce" {
        transform: translateY(if(#{$direction} == up, 0, -0.25rem));
      }
      @else if $animation == "spin" {
        transform: rotateZ(if(#{$direction} == up, 0deg, 180deg));
      }
      @else if $animation == "rotate" {
        transform: rotateY(0deg);
      }
      @else if $animation == "scale" {
        transform: scale(1);
      }
    }
  }

  animation: #{$animation} #{$duration} $repeat;
}

@keyframes mirrorRotate {
  0% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(90deg);
  }
  100% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(180deg);
    /*@include animate(bounce, up, null, 2.5s, 1);*/
  }
}

nav {
  position: fixed;
  width: 100vw;
  top: 3vh;
  display: flex;
  justify-content: center;
  align-items: start;

  a {
    text-decoration: none;
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 20vw;
    margin: 2.75vh .5vw 0 .5vw;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 8px;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-22),
    1px 2px 0 var(--color-4-0),
    1px -1px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    -1px -1px 0 var(--color-0),
    1px 0 0 var(--color-0),
    3px 3px 0 var(--color-0),
    -1px 2px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    0 -1px 0 var(--color-0);

    &:hover {
      transform: scale(1.2);
      color: transparent;
      text-shadow: 1px 1px 0 var(--color-3-1),
      1px 2px 0 var(--color-4-0),
      1px -1px 0 var(--color-0),
      -1px 0 0 var(--color-0),
      -1px -1px 0 var(--color-0),
      1px 0 0 var(--color-0),
      3px 3px 0 var(--color-0),
      -1px 2px 0 var(--color-0),
      -1px 0 0 var(--color-0),
      3px 3px 4px var(--color-4-0),
      0 -1px 0 var(--color-0);
    }

    &.active {
      font-weight: bold;
      animation: mirrorRotate 1s forwards;
      color: transparent;
      text-shadow: 1px 1px 0 var(--color-3-1),
      0 0 0 var(--color-22),
      2px 2px 0 var(--color-4),
      1px -1px 0 var(--color-0),
      -1px 0 0 var(--color-0),
      -1px -1px 0 var(--color-0),
      1px 0 0 var(--color-0),
      3px 3px 0 var(--color-0),
      -1px 2px 0 var(--color-0),
      -1px 0 0 var(--color-0),
      2px 5px 5px var(--color-31),
      0 -1px 0 var(--color-0);
    }
  }

  a:not(.active):focus {
    outline: none;
    @include animate(bounce, up, null, 1s, .5);
    font-weight: bold;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-3-1),
    1px 2px 0 var(--color-4-0),
    1px -1px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    -1px -1px 0 var(--color-0),
    1px 0 0 var(--color-0),
    3px 3px 0 var(--color-0),
    -1px 2px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    3px 3px 4px var(--color-4-0),
    0 -1px 0 var(--color-0);
  }

  a.active:focus {
    outline: none;
    font-weight: bold;
    @include animate(bounce, up, null, 1s, .5);
    scale: 1.5;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-3-1),
    0 0 0 var(--color-41),
    2px 2px 0 var(--color-41),
    1px -1px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    -1px -1px 0 var(--color-0),
    1px 0 0 var(--color-0),
    3px 3px 0 var(--color-0),
    -1px 2px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    0 -1px 0 var(--color-0);
  }

  #es-nav-logo {
    margin: 0;
    transition: transform 0.5s ease;
    animation: none;
  }

  #es-nav-logo:hover,
  #es-nav-logo:focus,
  #es-nav-logo.active {
    scale: 1.2;
    animation: none;
  }

  #es-nav-logo.active img {
    transform: scale(1.2);
  }

.footer-links-container a:hover{
    scale: 1.2;
    color: var(--color-4-0);
  }
}

#business-card-nav-link,
#credits-nav-link {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  top: 0;
  width: 7rem;
  padding: 5px 10px 0 25px;
  border-bottom: 1px solid var(--color-2);
  border-left: 2px solid var(--color-1);
  border-radius: 0 0 2px 35px;
  background-color: var(--color-3-2);
  box-shadow:
          inset 0 -5px 10px var(--color-3-1),
          inset -3px 5px 9px var(--color-23);
  opacity: .5;
}
#business-card-nav-link {
  left: 0;
  padding: 5px 20px 0 15px;
  border-left: 2px solid var(--color-1);
  border-radius: 0 2px 35px 0 ;
  box-shadow:
          inset 0 5px 10px var(--color-3-1),
          inset 3px 5px 9px var(--color-23);
}
#business-card-nav-link:hover,
#credits-nav-link:hover {
  opacity: 1;
}

#business-card-nav-link a,
#credits-nav-link a {
  margin: 0;
  max-width: fit-content;
  color: var(--color-4);
  font-size: 1.3rem;
  top: 0;
  letter-spacing: 5px;
}
#business-card-nav-link a:focus,
#business-card-nav-link a:hover,
#credits-nav-link a:focus,
#credits-nav-link a:hover {
  font-weight: bold;
  color: var(--color-4);
  transform: none;
}

#business-card-nav-link a.active,
#credits-nav-link a.active {
  color: var(--color-41);
  font-weight: bold;
  animation: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  right: 3.75vw;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

@media only screen and (min-height: 50vh) {
  .scroll-to-top.show {
    display: block;
  }
}

.menu-toggle {
  position: absolute;
  right: 15px;
  z-index: 9999;
}


/* Stile für den Burger-Button */
.burger-line {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: transform 0.3s ease;
}

/* Stile für den Burger-Button bei geöffnetem Navigationsbereich */
.nav-open .burger-line:nth-child(1) {
  position: relative;
  transform: translateY(8px) rotate(45deg);
}

.nav-open .burger-line:nth-child(2) {
  opacity: 0;
}

.nav-open .burger-line:nth-child(3) {
  position: relative;
  transform: translateY(-10px) rotate(-45deg);
}

/* Stile für den mobilen Navigationsbereich bei geöffnetem Navigationsbereich */
.nav-open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-01);
  padding: 50px 0;
  border-bottom-left-radius: 150px;
  outline: 1px solid var(--color-3-1);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

/* Stile für den aktiven Link im mobilen Navigationsbereich bei geöffnetem Navigationsbereich */
.nav-open .mobile-nav a.active {
  color: var(--color-3);
  font-weight: bold;
  animation: none;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
  }

  nav a {
    font-size: 3.25vw;
  }

  #business-card {
    display: none;
  }

  #credits-nav-link {
    position: absolute;
    top: 0;
  }
}

/* Stile für größere Bildschirme (mindestens 769px Bildschirmbreite) */
@media screen and (min-width: 769px) {
  /* Verstecken Sie den Burger-Button und zeigen Sie das normale Menü */
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
  }

}