@mixin animate($animation, $direction: null, $scale: null, $duration: 0.75s, $repeat: 1) {
  @keyframes #{$animation} {
    0% {
      @if $animation == "bounce" {
        transform: translateY(0);
      }
      @else if $animation == "spin" {
        transform: rotateZ(if(#{$direction} == up, 0deg, 180deg));
      }
      @else if $animation == "rotate" {
        transform: rotateY(0deg);
      }
      @else if $animation == "scale" {
        transform: scale(1);
      }
    }
    50% {
      @if $animation == "bounce" {
        transform: translateY(if(#{$direction} == up, -0.75rem, 0));
      }
      @else if $animation == "spin" {
        transform: rotateZ(if(#{$direction} == up, 180deg, 0deg));
      }
      @else if $animation == "rotate" {
        transform: rotateY(180deg);
      }
      @else if $animation == "scale" {
        transform: scale(#{$scale});
      }
    }
    100% {
      @if $animation == "bounce" {
        transform: translateY(if(#{$direction} == up, 0, -0.25rem));
      }
      @else if $animation == "spin" {
        transform: rotateZ(if(#{$direction} == up, 0deg, 180deg));
      }
      @else if $animation == "rotate" {
        transform: rotateY(0deg);
      }
      @else if $animation == "scale" {
        transform: scale(1);
      }
    }
  }

  animation: #{$animation} #{$duration} $repeat;
}

nav {
  position: fixed;
  top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: relative;
    text-decoration: none;
    font-family: Typewriter, ui-monospace, monospace, sans-serif;
    color: var(--color-22);
    margin: 1em 1.8em;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 3px;

    img#nav-chuck { /* Selektiere das Bild */
      width: 50px; /* Gib die gewünschte Breite */
      height: auto; /* Autohöhe beibehalten, um das Bild zu skalieren */
      opacity: .5;
      transition: transform 0.3s ease; /* Füge eine Übergangseigenschaft hinzu */
    }

    &:hover {
      @include animate(bounce, up, null, 0.8s, 1);
      font-weight: bold;
      color: var(--color-41);
    }

    &:hover img#nav-chuck { /* Bewahre die Drehung nur auf das Bild */
      transform: rotate(360deg); /* Drehe um 360 Grad */
    }

    &.active { /* Hier wieder die Stile für das aktive Element */
      color: var(--color-3);
      font-weight: bold;
      transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1);
      animation: mirrorRotate 1s forwards;

      img#nav-chuck {
        transform: none; /* Stelle sicher, dass das Bild nicht rotiert, wenn das Element aktiv ist */
        opacity: 1;
        }
    }

    &:hover:not(:focus),
    &:active:not(.active) {
      @include animate(rotate, up, null, 1s, 1);
    }
  }

  a:not(.active):focus {
    color: var(--color-41);
    outline: none;
    transform: rotateX(180deg);
    border-bottom: 1px solid var(--color-31);
  }

  a.active:focus {
    color: white; // Farbe ändern, wenn das aktive Element den Fokus erhält
    outline: none;
    border-bottom: 1px solid var(--color-31);
  }
}

@keyframes mirrorRotate {
  0% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(90deg);
  }
  100% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(180deg);
    @include animate(bounce, up, null, 0.5s, 1);
  }
}

.menu-toggle {
  position: absolute;
  right: 15px;
  top: 8px;
  z-index: 999;
}
.burger-line {
  display: block; /* Damit die Spans standardmäßig inline sind */
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: transform 0.3s ease;
}

/* Animation für das Öffnen des Burgers */
.nav-open .burger-line:nth-child(1) {
  position: relative;
  transform: translateY(8px) rotate(45deg);
}

.nav-open .burger-line:nth-child(2) {
  opacity: 0;
}

/* Animation für das Schließen des Burgers */
.nav-open .burger-line:nth-child(3) {
  position: relative;
  transform: translateY(-10px) rotate(-45deg);
}

/* Zeige die mobile Navigation, wenn der Burger geklickt wird */
.nav-open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-01);
  padding: 50px 0; /* Platz für den Header */
  border-bottom-left-radius: 150px;
  outline: 1px solid var(--color-3-1);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease;
  transform: translateX(0);
}
.nav-open .mobile-nav a {
  color: var(--color-4);
}
.nav-open .mobile-nav a.active {
  color: var(--color-3);
  font-weight: bold;
  transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1);
  animation: mirrorRotate 1s forwards;
}

/* Media Query für kleinere Bildschirme (maximale Bildschirmbreite von 768px) */
@media screen and (max-width: 768px) {
  /* Zeigen Sie den Burger-Button und verstecken Sie das normale Menü */
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
  }
}

/* Stile für größere Bildschirme (mindestens 769px Bildschirmbreite) */
@media screen and (min-width: 769px) {
  /* Verstecken Sie den Burger-Button und zeigen Sie das normale Menü */
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
  }
}