.projects-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.projects-wrapper {
  position: relative;
  padding-bottom: 5rem;
  top: 5vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  max-width: 90vw;
}

.project-management-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.projects-container h3 {
  position: relative;
  margin: 1rem 0 0 0;
  font-family: var(--font-2);
  font-size: 2.5rem;
  letter-spacing: 8px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-01),
  2px 2px 0 var(--color-21),
  1px -1px 1px var(--color-0),
  -1px 0 1px var(--color-0),
  -1px -1px 1px var(--color-0),
  1px 0 1px var(--color-0),
  3px 3px 1px var(--color-0),
  -1px 2px 1px var(--color-0),
  -1px 0 1px var(--color-0),
  1px 1px 5px var(--color-0),
  0 -1px 0 var(--color-0);
}

.project {
  perspective: 1000px;
  min-width: 300px;
  min-height: 145px;
  margin: 1.5rem;
  border-radius: 15px;
  flex-shrink: 1;
  background-color: var(--color-0);
  border: 4px solid var(--color-00);
  outline: 1px solid var(--color-23);
  box-shadow: inset 0 0 13px var(--color-22),
  -2px -2px 5px var(--color-3-2),
  2px 2px 1px var(--color-4),
  5px 5px 15px var(--color-00),
  -5px -5px 15px var(--color-00);
}

.project .project-content {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.project.flip .project-content {
  padding: 20px;
  transform: rotateY(180deg);
  background-color: var(--color-00);
  box-shadow: inset 0 0 20px var(--color-23);
  border: 1px solid var(--color-41);
  outline: 5px solid var(--color-3-1);
  width: 95vw;
  height: 75vh;
}

.project.flip {
  position: fixed;
  top: 9.85vh;
  left: 0;
  z-index: 2;
}

.project .project-front,
.project .project-back {
  position: fixed;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

.project-front h5,
.project-back h5 {
  font-size: 1.2rem;
  font-family: var(--font-2);
  letter-spacing: 3px;
  margin: 25px 15px 0 15px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-21),
  2px 1px 0 var(--color-4),
  1px -1px 0 var(--color-01),
  -1px -1px 0 var(--color-01),
  1px 0 0 var(--color-01),
  -1px 2px 0 var(--color-01),
  2px -1px 0 var(--color-01),
  2px 2px 0 var(--color-01),
  -1px 1px 0 var(--color-01),
  -1px 0 0 var(--color-01);
}

.project-year {
  position: fixed;
  left: -16px;
  top: -17px;
  font-family: var(--font-2);
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 20px 3px 10px;
  background-color: var(--color-3-3);
  border-radius: 13px 1px 25px 1px;
  letter-spacing: 3px;
  color: transparent;
  border-top: 2px solid var(--color-00);
  border-left: 1px solid var(--color-00);
  text-shadow: 1px 1px 0 var(--color-2),
  2px 1px 0 var(--color-4),
  1px -1px 0 var(--color-01),
  -1px -1px 0 var(--color-01),
  1px 0 0 var(--color-01),
  -1px 2px 0 var(--color-01),
  2px -1px 0 var(--color-01),
  2px 2px 0 var(--color-01),
  -1px 1px 0 var(--color-01),
  -1px 0 0 var(--color-01),
  0 0 5px var(--color-0);
  box-shadow: inset -3px -3px 7px var(--color-2),
              2px 2px 7px var(--color-2);
}

.project-front p {
  margin: 15px;
}

.project .project-back {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-0);
  box-shadow: inset 2px 2px 25px var(--color-1),
              inset -2px -2px 25px var(--color-1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  transform: rotateY(180deg);
}

.project-close-button-container {
  position: absolute;
  min-height: 2.5rem;
  max-height: 2.5rem;
  min-width: 4rem;
  top: 0;
  right: 0;
  z-index: 10000001;
  padding: 10px 5px 5px 20px;
  font-family: var(--font-1);
  justify-items: center ;
  letter-spacing: 4px;
  background-color: var(--color-00);
  border-radius: 1px 14px 1px 35px;
  box-shadow: inset 2px -2px 8px var(--color-011),
  -3px 3px 8px var(--color-011);
}

#project-close-button {
  position: relative;
  top: .1rem;
  right: .5rem;
  font-size: 1.75rem;
  color: var(--color-4);
  z-index: 3;
}

.project-back h5 {
  position: fixed;
  min-width: 80vw;
  max-width: 90vw;
  top: 1rem;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 1px 1px 0 var(--color-11),
  2px 2px 0 var(--color-4),
  1px -1px 1px var(--color-0),
  -1px 0 1px var(--color-0),
  -1px -1px 1px var(--color-0),
  1px 0 1px var(--color-0),
  3px 3px 1px var(--color-0),
  -1px 2px 1px var(--color-0),
  -1px 0 1px var(--color-0),
  1px 1px 5px var(--color-0),
  0 -1px 0 var(--color-0);
  z-index: 3;
}

.name-affix {
  position: fixed;
  padding-bottom: .5rem;
  top: 5rem;
  min-width: 90vw;
  max-width: 95vw;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--font-2);
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-11),
  2px 2px 0 var(--color-4),
  1px -1px 1px var(--color-0),
  -1px 0 1px var(--color-0),
  -1px -1px 1px var(--color-0),
  1px 0 1px var(--color-0),
  3px 3px 1px var(--color-0),
  -1px 2px 1px var(--color-0),
  -1px 0 1px var(--color-0),
  1px 1px 5px var(--color-0),
  0 -1px 0 var(--color-0);
  z-index: 3;
}

.project-description {
  position: fixed;
  top: 8rem;
  left: 3vw;
  width: 90vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-011);
  box-shadow: inset 9px 9px 50px var(--color-0),
  inset -9px -9px 50px var(--color-00),
            0 0 10px var(--color-41);
  border: 3px solid var(--color-3-11);
  outline: 1px solid var(--color-4);
  border-radius: 15px;
  font-family: var(--font-1);
  letter-spacing: 4px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-21),
  2px 1px 0 var(--color-41),
  1px -1px 0 var(--color-0),
  -1px -1px 0 var(--color-0),
  1px 0 0 var(--color-0),
  -1px 2px 0 var(--color-0),
  2px 2px 0 var(--color-0),
  -2px -1px 0 var(--color-0),
  -1px 1px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  0 0 10px var(--color-0);
  overflow: scroll;
}
.project-description::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.project-description::-webkit-scrollbar-track {
  background-color: transparent;
}
.project-description::-webkit-scrollbar-corner {
  background-color: transparent;
}
.project-description::-webkit-scrollbar-thumb {
  background-color: var(--color-3-1);
  border: 1px solid var(--color-41);
  outline: 2px solid var(--color-2);
  border-radius: 25px;
}

.project-description p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.project-details {
  position: fixed;
  left: 5vw;
  top: 18rem;
  height: 45vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: -1.5rem;
  padding-top: 1.5rem;
  overflow: scroll;
}
.project-details::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.project-details::-webkit-scrollbar-track {
  background-color: transparent;
}
.project-details::-webkit-scrollbar-corner {
  background-color: transparent;
}
.project-details::-webkit-scrollbar-thumb {
  background-color: var(--color-3-1);
  border: 1px solid var(--color-41);
  outline: 2px solid var(--color-2);
  border-radius: 25px;
}

.project-requirements-container,
.applied-skills-container,
.project-links-container {
  position: relative;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -1.5rem;
  padding-top: 1.5rem;
}

.details-header {
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--font-2);
  margin: 0 0.5rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  2px 1px 0 var(--color-23),
  1px -1px 0 var(--color-1),
  -1px -1px 0 var(--color-1),
  1px 0 0 var(--color-1),
  -1px 2px 0 var(--color-1),
  2px -1px 0 var(--color-1),
  2px 2px 0 var(--color-1),
  -1px 1px 0 var(--color-1),
  -1px 0 0 var(--color-1);
}

.project-links-container .details-header {
  text-shadow: 1px 1px 0 var(--color-3-11),
  2px 1px 0 var(--color-4),
  1px -1px 0 var(--color-1),
  -1px -1px 0 var(--color-1),
  1px 0 0 var(--color-1),
  -1px 2px 0 var(--color-1),
  2px -1px 0 var(--color-1),
  2px 2px 0 var(--color-1),
  -1px 1px 0 var(--color-1),
  -1px 0 0 var(--color-1);

}

.project-requirements-list,
.applied-skills-list,
.project-links-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  padding-left: 0;
}

.project-requirements-list li,
.applied-skills-list li,
.project-links-list li {
  position: relative;
  text-align: left;
  padding-left: 30px;
  justify-items: start;
  font-size: 1.2rem;
  margin-bottom: 5px;
  letter-spacing: 4px;
  font-weight: bold;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-21),
  2px 1px 0 var(--color-4),
  1px -1px 0 var(--color-01),
  -1px -1px 0 var(--color-01),
  1px 0 0 var(--color-01),
  -1px 2px 0 var(--color-01),
  2px -1px 0 var(--color-01),
  2px 2px 0 var(--color-01),
  -1px 1px 0 var(--color-01),
  -1px 0 0 var(--color-01);
}

.project-links-list li a {
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-3-2),
  2px 1px 0 var(--color-23),
  1px -1px 0 var(--color-011),
  -1px -1px 0 var(--color-011),
  1px 0 0 var(--color-011),
  -1px 2px 0 var(--color-011),
  2px -1px 0 var(--color-011),
  2px 2px 0 var(--color-011),
  -1px 1px 0 var(--color-011),
  -1px 0 0 var(--color-011);
}
.project-links-list li a:hover {
  filter: brightness(200%);
}

.project-back ul li:before {
  content: "\272A";
  font-size: 1.5rem;
  position: absolute;
  top: -.25rem;
  left: 0;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  2px 1px 0 var(--color-4),
  1px -1px 0 var(--color-22),
  -1px -1px 0 var(--color-22),
  1px 0 0 var(--color-22),
  -1px 2px 0 var(--color-22),
  2px -1px 0 var(--color-22),
  2px 2px 0 var(--color-22),
  -1px 1px 0 var(--color-22),
  -1px 0 0 var(--color-22);
}

.project-back .project-links-list li:before {
  content: "\1F517";
  font-size: 1rem;
  top: .25rem;
  text-shadow: 1px 1px 0 var(--color-3-2),
  2px 1px 0 var(--color-23),
  1px -1px 0 var(--color-011),
  -1px -1px 0 var(--color-011),
  1px 0 0 var(--color-011),
  -1px 2px 0 var(--color-011),
  2px -1px 0 var(--color-011),
  2px 2px 0 var(--color-011),
  -1px 1px 0 var(--color-011),
  -1px 0 0 var(--color-011);
}

@media screen and (max-width: 768px) {
  .projects-container {
    padding-top: 7.5rem !important;
    padding-bottom: 150px !important;
  }

  .project-management-container {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 10px;
  }

  .projects-wrapper {
    top: 3.5vh;
  }

  .projects-container h3 {
    margin: 1vh 0 0 3vw;
    font-size: 1.5rem;
  }

  .project {
    background-color: var(--color-0);
    margin: 1.5rem .5rem;
    min-width: 78.5vw !important;
    max-width: 80vw !important;
  }

  .project.flip {
    top: 9.5vh !important;
  }

  .project.flip .project-content {
    padding: 0;
    max-width: 93vw !important;
    min-height: 72.5vh !important;
    max-height: 72.5vh !important;
  }

  .project .project-back {
    max-width: 100%;
    min-height: 100% !important;
    max-height: 100% !important;
    flex-direction: column;
    justify-content: flex-start;
  }

  .project-close-button-container {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
  }

  #project-close-button {
    position: absolute;
    top: .6rem;
    right: .5rem;
  }

  #project-close-button i{
    top: .5vh;
    right: .6rem;
  }

  .project-back h5 {
    position: relative;
    font-size: 1.2rem;
    margin-left: -3vw;
    top: .4rem;
    max-width: 50vw !important;
    text-align: left;
    flex-wrap: wrap;
  }

  .name-affix {
    margin: 0 2vw;
    position: relative;
    max-width: 5rem !important;
    top: .4rem;
    font-size: .65rem;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: left;
  }

  .project-description {
    position: relative;
    font-size: .7rem !important;
    background-color: var(--color-2);
    max-width: 74vw !important;
    top: 1rem;
    left: 5vw;
    z-index: 2;
  }
  .project-description::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-4);
  }

  .project-details {
    position: relative;
    padding-top: 0;
    margin-top: 0;
    top: 1.75rem;
    flex-direction: column;
    bottom: 1.5vh;
    max-width: 82.5vw;
    min-height: 42vh !important;
    max-height: 42vh !important;
    padding-right: 2vw;
    overflow-x: hidden;
  }
  .project-details::-webkit-scrollbar {
    width: .6vh;
    height: .6vh;
  }
  .project-details::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-4);
  }

  .project-requirements-container,
  .applied-skills-container,
  .project-links-container {
    position: relative;
    left: .2rem;
    align-items: start;
    margin-top: 0;
    padding-top: .3rem;
    min-width: 83.5vw;
    max-width: 83.5vw;
    flex-wrap: wrap;
  }

  .details-header {
    display: block;
    top: 0;
    min-width: 79vw;
    max-width: 79vw;
    margin: 0;
    padding: 3px;
    border-radius: 10px;
    font-size: 1.25rem;
    background-color: var(--color-0);
    box-shadow: inset 0 0 20px var(--color-2);
    border: 1px solid var(--color-21);
    text-shadow: 1px 1px 0 var(--color-3-11),
    2px 1px 0 var(--color-23),
    1px -1px 0 var(--color-1),
    -1px -1px 0 var(--color-1),
    1px 0 0 var(--color-1),
    -1px 2px 0 var(--color-1),
    2px -1px 0 var(--color-1),
    2px 2px 0 var(--color-1),
    -1px 1px 0 var(--color-1),
    -1px 0 0 var(--color-1);
  }

  .project-requirements-list li,
  .applied-skills-list li,
  .project-links-list li {
    top: 0;
    text-align: start;
    font-weight: bold;
    font-size: .9rem;
    padding-left: 20px;
    color: transparent;
  }

  .project-back ul li:before {
    font-size: 1rem;
    position: relative;
    text-align: center;
    margin-right: 5px;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
  }

  .project-back .project-links-list li:before {
    top: -.15rem;
    font-size: .5rem;
  }
}