.projects-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.projects-wrapper {
  position: relative;
  top: 5vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  max-width: 90vw;
}

.project-management-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.projects-container h3 {
  position: relative;
  margin: 1rem 0 0;
  font-family: var(--font-1);
  font-size: 2.5rem;
  letter-spacing: 8px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-21),
  2px 2px 0 var(--color-4),
  1px -1px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  -1px -1px 0 var(--color-0),
  1px 0 0 var(--color-0),
  3px 3px 0 var(--color-0),
  -1px 2px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  3px 3px 3px var(--color-41),
  0 -1px 0 var(--color-0);
}

.project {
  perspective: 1000px;
  min-width: 250px;
  min-height: 145px;
  margin: 0.5rem;
  border-radius: 15px;
  flex-shrink: 1;
  background-color: var(--color-00);
  border: 5px solid var(--color-00);
  outline: 1px solid var(--color-4);
  box-shadow: inset 0 0 15px var(--color-22);
}

.project .project-content {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.project.flip .project-content {
  padding: 20px;
  transform: rotateY(180deg);
  background-color: var(--color-00);
  box-shadow: inset 0 0 20px var(--color-23);
  border: 1px solid var(--color-4-0);
  outline: 5px solid var(--color-3-1);
  width: 96vw;
  height: 74vh;
}

.project.flip {
  position: fixed;
  top: 12.5vh;
  left: 0;
  z-index: 2;
}

.project .project-front,
.project .project-back {
  position: fixed;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

.project-front h5,
.project-back h5 {
  font-size: 1.3rem;
  font-family: var(--font-2);
  letter-spacing: 3px;
  margin: 35px 15px 0 15px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  -1px -1px 0 var(--color-23),
  1px 0 0 var(--color-23),
  2px 2px 0 var(--color-23),
  -1px 2px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  3px 3px 5px var(--color-3),
  0 -1px 0 var(--color-23);
}

.project-year {
  position: fixed;
  left: -16px;
  top: -16px;
  font-family: var(--font-2);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 25px 0 20px;
  background-color: var(--color-000);
  border-radius: 14px 1px 50px 1px;
  outline: 4px solid var(--color-00);
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-3-1),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  -1px -1px 0 var(--color-23),
  1px 0 0 var(--color-23),
  2px 2px 0 var(--color-23),
  -1px 2px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  3px 3px 5px var(--color-3),
  0 -1px 0 var(--color-23);
  box-shadow: 3px 6px 1px var(--color-3-11),
  6px 6px 15px var(--color-22);
}

.project-front p {
  margin: 15px;
}

.project .project-back {
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  transform: rotateY(180deg);
}

#project-close-button {
  position: fixed;
  top: 1vh;
  right: 1vw;
  font-size: 2rem;
  color: var(--color-4);
  z-index: 3;
}

.project-back h5 {
  position: fixed;
  top: 0;
  left: 3vw;
  margin: 0;
  font-size: 3rem;
  text-shadow: 1px 1px 0 var(--color-3-11),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  -1px -1px 0 var(--color-23),
  1px 0 0 var(--color-23),
  2px 2px 0 var(--color-23),
  -1px 2px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  3px 3px 5px var(--color-3),
  0 -1px 0 var(--color-23);
  z-index: 3;
}

.name-affix {
  position: fixed;
  padding-bottom: .5rem;
  top: 4rem;
  left: 3vw;
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-2);
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  -1px -1px 0 var(--color-23),
  1px 0 0 var(--color-23),
  2px 2px 0 var(--color-23),
  -1px 2px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  3px 3px 5px var(--color-3),
  0 -1px 0 var(--color-23);
  z-index: 3;
}


.project-description {
  position: fixed;
  top: 7rem;
  left: 3vw;
  width: 90vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding:.5rem;
  background-color: var(--color-21);
  box-shadow: inset 7px 7px 40px var(--color-0),
  inset -7px -7px 40px var(--color-0);
  border: 1px solid var(--color-4);
  outline: 2px solid var(--color-3-11);
  border-radius: 15px;
  font-family: var(--font-1);
  font-weight: bold;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-41),
  2px 1px 0 var(--color-0),
  1px -1px 0 var(--color-3-11),
  -1px 0 0 var(--color-3-11),
  -1px -1px 0 var(--color-3-11),
  1px 0 0 var(--color-3-11),
  -1px 2px 0 var(--color-3-11),
  2px 2px 0 var(--color-3-11),
  -1px 1px 0 var(--color-3-11),
  -1px 0 0 var(--color-3-11),
  2px 2px 5px var(--color-3-11),
  0 -1px 0 var(--color-3-11);
  overflow: scroll;
}
.project-description::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.project-description::-webkit-scrollbar-track {
  background-color: transparent;
}
.project-description::-webkit-scrollbar-corner {
  background-color: transparent;
}
.project-description::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
  border: 1px solid var(--color-4-0);
  border-radius: 25px;
}


.project-description p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.project-details {
  position: fixed;
  left: 5vw;
  top: 17rem;
  height: 45vh;
  width: 85vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: -1.5rem;
  padding-top: 1.5rem;
  overflow: scroll;
}
.project-details::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.project-details::-webkit-scrollbar-track {
  background-color: transparent;
}
.project-details::-webkit-scrollbar-corner {
  background-color: transparent;
}
.project-details::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
  border: 1px solid var(--color-4-0);
  border-radius: 25px;
}

.project-requirements-container,
.applied-skills-container,
.project-links-container {
  position: relative;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -1.5rem;
  padding-top: 1.5rem;
}

.details-header {
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--font-2);
  margin: 0 0.5rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-21),
  -1px 0 0 var(--color-21),
  -1px -1px 0 var(--color-21),
  1px 0 0 var(--color-21),
  3px 3px 0 var(--color-21),
  -1px 2px 0 var(--color-21),
  -1px 0 0 var(--color-21),
  3px 3px 5px var(--color-3),
  0 -1px 0 var(--color-21);
}

.project-links-container .details-header {
  text-shadow: 1px 1px 0 var(--color-3-11),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-21),
  -1px 0 0 var(--color-21),
  -1px -1px 0 var(--color-21),
  1px 0 0 var(--color-21),
  3px 3px 0 var(--color-21),
  -1px 2px 0 var(--color-21),
  -1px 0 0 var(--color-21),
  3px 3px 5px var(--color-3),
  0 -1px 0 var(--color-21);

}

.project-requirements-list,
.applied-skills-list,
.project-links-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  padding-left: 0;
}

.project-requirements-list li,
.applied-skills-list li,
.project-links-list li {
  position: relative;
  text-align: left;
  padding-left: 30px;
  justify-items: start;
  font-size: 1.05rem;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-weight: bold;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  1px 2px 0 var(--color-41),
  1px -1px 0 var(--color-4),
  -1px 0 0 var(--color-4),
  -1px -1px 0 var(--color-4),
  1px 0 0 var(--color-4),
  2px 2px 0 var(--color-4),
  -1px 2px 0 var(--color-4),
  -1px 0 0 var(--color-4),
  0 -1px 0 var(--color-4);
}

.project-links-list li a {
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-41),
  2px 1px 0 var(--color-0),
  1px -1px 0 var(--color-3-11),
  -1px 0 0 var(--color-3-11),
  -1px -1px 0 var(--color-3-11),
  1px 0 0 var(--color-3-11),
  -1px 2px 0 var(--color-3-11),
  2px 2px 0 var(--color-3-11),
  -1px 1px 0 var(--color-3-11),
  -1px 0 0 var(--color-3-11),
  2px 2px 5px var(--color-3-11),
  0 -1px 0 var(--color-3-11);
}

.project-back ul li:before {
  content: "o";
  font-size: 1rem;
  position: absolute;
  left: 0;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-3),
  2px 2px 0 var(--color-41),
  1px -1px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  -1px -1px 0 var(--color-23),
  1px 0 0 var(--color-23),
/*  2px 2px 0 var(--color-23),*/
  -1px 2px 0 var(--color-23),
  -1px 0 0 var(--color-23),
  0 -1px 0 var(--color-23);
}

@media screen and (max-width: 768px) {
  .projects-container {
    padding-bottom: 150px !important;
  }

  .project-management-container {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 10px;
  }

  .projects-wrapper {
    top: 1vh;
  }

  .projects-container h3 {
    margin: 0 0 0 6vw;
    font-size: 1.75rem;
  }

  .project.flip {
    top: 11vh !important;
  }

  .project.flip .project-content {
    padding: 0;
    max-width: 92vw !important;
    min-height: 72.5vh !important;
    max-height: 72.5vh !important;
  }

  .project .project-back {
    flex-direction: column;
    justify-content: flex-start;
  }

  .project-back h5 {
    position: relative;
    font-size: 1.5rem;
    top: .2rem;
    max-width: 77.5vw;
    left: 3vw;
    right: 6vw;
    flex-wrap: wrap;
  }

  .name-affix {
    margin: 0;
    position: relative;
    max-width: 80vw;
    top: .4rem;
    left: 3vw;
    right: 5vw;
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .project-description {
    max-width: 77.5vw;
    top: 10rem;
    left: 5vw;
  }

  .project-details {
    position: fixed;
    flex-direction: column;
    bottom: 1.5vh;
    max-width: 82.5vw;
    max-height: 53.5vh !important;
    padding-right: 2vw;
    overflow-x: hidden;
  }
  .project-details::-webkit-scrollbar {
    width: .6vh;
    height: .6vh;
  }
  .project-details::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-4);
  }

  .project-requirements-container,
  .applied-skills-container,
  .project-links-container {
    position: relative;
    top: 1vh;
    left: .2rem;
    align-items: start;
    margin-top: 0;
    padding-top: .3rem;
    min-width: 83.5vw;
    max-width: 83.5vw;
    flex-wrap: wrap;
  }

  .details-header {
    display: block;
    min-width: 79vw;
    max-width: 79vw;
    margin: 0;
    padding: 3px;
    border-radius: 7px;
    font-size: 1.5rem;
    background-color: var(--color-21);
    box-shadow: inset 7px 7px 40px var(--color-0),
    inset -7px -7px 40px var(--color-0);
    border: 1px solid var(--color-4);
    outline: 2px solid var(--color-3-11);
    text-shadow: 1px 1px 0 var(--color-0),
    2px 2px 0 var(--color-41),
    1px -1px 0 var(--color-21),
    -1px 0 0 var(--color-21),
    -1px -1px 0 var(--color-21),
    1px 0 0 var(--color-21),
    3px 3px 0 var(--color-21),
    -1px 2px 0 var(--color-21),
    -1px 0 0 var(--color-21),
    3px 3px 5px var(--color-3),
    0 -1px 0 var(--color-21);
  }

  .project-requirements-list li,
  .applied-skills-list li,
  .project-links-list li {
    text-align: start;
    font-weight: bold;
    font-size: .9rem;
    padding-left: 20px;
    color: transparent;
  }

  .project-back ul li:before {
    width: 5px;
    height: 5px;
  }
}