.skills-container {

}

.skills-wrapper {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column;
}

.category-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 500px;
}

.category-container h3 {
  margin: 0 1rem;
  font-family: var(--font-2);
  font-size: 2vmax;
  max-height: 50px;
  color: var(--color-3-1);
  letter-spacing: 8px;
  opacity: .8;
  text-shadow: 1px 0 1px var(--color-2),
  -1px 0 1px var(--color-00),
  -1px -1px 1px var(--color-4-0);
}

.category-skills-container {
  position: relative;
  margin: 1rem;
  left: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80vh;
}

.skill {
  perspective: 1000px;
  width: 200px;
  height: 115px;
  margin: 15px;
  background-color: var(--color-0);
  border-radius: 15px;
  border: 1px solid var(--color-4);
  outline: 2px solid var(--color-22);
  box-shadow: inset 9px 9px 10px var(--color-2),
  inset -9px -9px 10px var(--color-1);
}

.skill .skill-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 10px var(--color-21);
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.skill.flip .skill-content {
  padding: 20px;
  transform: rotateY(180deg);
  background-color: var(--color-00);
  box-shadow: inset 0 0 20px var(--color-41);
  border: 1px solid var(--color-4-0);
  outline: 4px solid var(--color-3);
  width: 95vw;
  height: 55vh;
}

.skill.flip {
  position: fixed;
  top: 22.5%;
  left: .7%;
  transform: translate(2%, -22.5%);
  z-index: 1;
}

.skill .skill-front,
.skill .skill-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.skill .skill-front {
  display: grid;
}

.proficiency-chart {
  transform: scaleX(-1);
  position: relative;
  bottom: -10px;
  right: -40px;
  scale: .45;
}

.skill-name {
  position: absolute;
  left: 2px;
  top: -25px;
  font-family: var(--font-2);
  font-size: 1.45em;
  padding: 5px 5px 5px 15px;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px 0 1px var(--color-2),
  -1px 0 1px var(--color-00),
  -1px -1px 1px var(--color-41);
}

.skill-back .skill-name {
  grid-row: 1;
  grid-column: 1;
  min-width: fit-content;
  position: absolute;
  padding: 5px 25px 5px 15px;
  font-family: var(--font-2);
  letter-spacing: 4px;
  font-size: 1.5em;
  top: -61px;
  left: 31px;
  color: var(--color-22);
  background-color: var(--color-0);
  border-radius: 14px 1px 35px 1px;
  outline: 2px solid var(--color-2);
  box-shadow: inset -2px -2px 10px var(--color-2),
  2px 2px 10px var(--color-21);
}

.skill .skill-back {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  justify-items: start;
  transform: rotateY(180deg);
}

.topics-container {
  position: relative;
  top: 2.5%;
  left: 3%;
  grid-column: 1;
  grid-row: 2;
  justify-self: center; /* Ändern Sie die Ausrichtung */
  height: 90%;
  width: 75%; /* Breite auf 100% setzen */
}

.topics-container h5,
.skill-project-use-container h5 {
  margin: 0;
  font-family: var(--font-2);
  font-size: 1.3em;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px 0 1px var(--color-2),
  -1px 0 1px var(--color-00),
  -1px -1px 1px var(--color-41);
}

.topics-container ul {
  margin: 0;
}

.topics-container ul li {
  font-weight: bold;
  font-size: 1.15em;
  margin-bottom: 5px;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px -1px 0 var(--color-23),
  -1px 0 1px var(--color-0),
  -1px -1px 1px var(--color-4-0);
}

.skill-project-use-container {
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap; // Erlaubt das Umbruch der Container
  gap: 10px; // Abstand zwischen den ul-Elementen
  grid-column: 2; /* Ändern Sie die Grid-Spaltenpositionierung */
  grid-row: 2; /* Ändern Sie die Grid-Zeilenpositionierung */
  text-align: left;
  justify-self: center; /* Ändern Sie die Ausrichtung */
  height: 95%;
  width: 90%; /* Breite auf 100% setzen */
}

.skill-project-use-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  color: var(--color-22);
  font-weight: bold;
}

.skill-project-use-container ul ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--color-4);

}

.skill-bar-container {
  grid-row: 1; /* Behalten Sie die Grid-Zeilenpositionierung bei */
  grid-column: 2 / span 2; /* Ändern Sie die Grid-Spaltenpositionierung */
  width: 90%; /* Breite auf 100% setzen */
  position: relative; /* Setzen Sie die Position auf relativ */
  height: 26px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-items: start;
  align-items: baseline;
  justify-self: end;
}

/* Stil für die Balken */
.skill-bar {
  position: relative;
  align-content: center;
  margin: 3px 0;
  width: 98%;
  height: 60px;
  border: 1px solid var(--color-41);
  outline: 3px solid var(--color-00);
  background-color: var(--color-01);
 /* border-radius: 50px;*/
  box-shadow:
  inset 0 8px 25px var(--color-21),
  inset 5px -8px 25px var(--color-21);
  overflow: hidden; /* Hinzugefügt, um das Überlappen zu ermöglichen */
}

.skill-bar-cover-start {
  position: absolute;
  left: -30px;
  top: 2px;
  height: 62px;
  width: 2%;
  border: 1px solid var(--color-4);
  outline: 3px solid var(--color-00);
  border-radius: 50px 0 0 50px;
  background-color: var(--color-01);
  z-index: 5;
  box-shadow:
          inset 1px 1px 4px var(--color-4-0),
          inset -2px -10px 10px var(--color-1);
}

.skill-bar-cover-end {
  position: absolute;
  right: -1px;
  top: 2px;
  height: 62px;
  width: 2%;
  border: 1px solid var(--color-4);
  outline: 3px solid var(--color-00);
  border-radius: 0 50px 50px 0;
  background-color: var(--color-01);
  z-index: 5;
  box-shadow:
          inset -1px 1px 4px var(--color-4-0),
          inset 4px -10px 10px var(--color-1);
}

.skill-bar-fill {
  position: relative;
  height: 30%;
  border-radius: 0 20px 20px 0;
  border: 1px solid var(--color-00);
  box-shadow:
          inset 1px 1px 2px var(--color-3),
          inset 0 -1px 2px var(--color-3),
          inset -2px 5px 8px var(--color-4-0),
          inset -5px -6px 10px var(--color-00);
}

.total-applied {
  background-color: var(--color-3-1); /* Farbe für total applied */
  z-index: 3;
  left: 0; /* Positionierung für total applied */
}

.unassisted {
  background-color: var(--color-1); /* Farbe für unassisted */
  z-index: 2;
  left: 0; /* Positionierung für unassisted */
}

.coach-guided {
  background-color: var(--color-41); /* Farbe für coach guided */
  z-index: 1;
  left: 0; /* Positionierung für coach guided */
}

.skill-bar-value {
  position: relative;
  font-weight: bold;
  top: 2px;
  left: 2px;
  font-size: 1.5em;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px -1px 0 var(--color-22),
  -1px 0 1px var(--color-0),
  -1px -1px 1px var(--color-41);
  z-index: 4; /* Damit der Wert über den Balken angezeigt wird */
}

.skill-legend {
  position: absolute;
  font-weight: bold;
  top: -30px;
  left: 0; /* Ändern Sie den Abstand zum linken Rand */
  width: 100%; /* Breite auf 100% setzen */
  display: flex;
  justify-content: end;
}

.skill-legend-item {
  position: relative;
  width: fit-content;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 3px;
}

.skill-legend-item .skill-bar-fill {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-00);
  outline: 1px solid var(--color-41);
  margin: 0 5px;
  box-shadow:
          inset 0 -1px 2px var(--color-3),
          inset 1px 1px 4px var(--color-4-0),
          inset -1px -4px 8px var(--color-00);
}

@media only screen and (max-width: 768px){
  .category-container {
    position: relative;
    margin: 0;
    display: inline-block;
    flex-direction: column;
    align-items: stretch;
    max-width: 98vw;
    min-width: 98vw;
  }

  .category-skills-container {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100vw;
  }

}