@import "baseStyles";
@import "header";
@import 'navigation';
@import "welcome";
@import "motivation";
@import "about";
@import "skills";
@import "projects";
@import "credits";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
  font-family: Typewriter, ui-monospace, monospace, sans-serif;
  width: 100vw;
  height: fit-content;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --font-1: Typewriter, ui-monospace, monospace, sans-serif;
  --font-2: 'Alfa Slab One', cursive;

  --color-0: #010105;
  --color-00: #0a0a0c;
  --color-000: #0f0f11;
  --color-01: #151518;
  --color-011: #1e1e21;
  --color-1: #272728;
  --color-11: #313133;
  --color-2: #37373a;
  --color-21: #49494d;
  --color-22: #5a5a5d;
  --color-23: #6a6a6c;
  --color-3-3: #170101;
  --color-3-2: #230101;
  --color-3-11: #340404;
  --color-3-1: #460505;
  --color-3: #5e0404;
  --color-31: #8d0a06;
  --color-4: #7f7f83;
  --color-41: #b3b3b6;
  --color-4-0: #d0d0d5;
  --color-5-2: #334bf5;
  --color-5-1: #1832e3;
  --color-5: #011bd3;
  --color-51: #010186;
  --color-52: #000b6d;
  --color-53: #000650;
  --color-6: #912800;

  background-color: var(--color-0);
  color: var(--color-4);
}

body {
  position: sticky;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--color-0);
  transition: filter 0.5s ease;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-00);
}
body::-webkit-scrollbar-corner {
  background-color: var(--color-00);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
  border: 1px solid var(--color-4-0);
  border-radius: 25px;
}

.background-color-wrapper {
  background-color: var(--color-23);
}

.body-scroll-lock {
  overflow: hidden;
}

.shadow-wrapper-start,
.shadow-wrapper-end {
  position: fixed;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  box-shadow: inset 50px 0 25px var(--color-0);
  z-index: 0;
}

.shadow-wrapper-end {
  box-shadow: inset -50px 0 25px var(--color-0);
}

#es-logo {
  height: 12.3vh;
  filter: brightness(65%);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 86.5vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: transparent;
  z-index: 0;
}

h2 {
  position: absolute;
  margin: 0 3vw 6vh 0;
  padding: 0;
  top: 9vh;
  right: 0;
  text-align: start;
  justify-self: end;
  font-size: 4vmax;
  font-family: var(--font-2);
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-0),
  2px 2px 0 var(--color-4),
  1px -1px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  -1px -1px 0 var(--color-0),
  1px 0 0 var(--color-0),
  3px 3px 0 var(--color-0),
  -1px 2px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  4px 4px 10px var(--color-3-2),
  0 -1px 0 var(--color-0);
  letter-spacing: 10px;
  filter: brightness(75%);
  z-index: 0;
}

.section-hashtag {
  position: relative;
  top: -1vmax;
  right: -2.25vmax;
  font-size: 5.5vmax;
  font-family: var(--font-2);
  transform: perspective(1000px) rotateY(50deg);
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-3-1),
  2px 2px 0 var(--color-4),
  1px -1px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  -1px -1px 0 var(--color-0),
  1px 0 0 var(--color-0),
  3px 3px 0 var(--color-0),
  -1px 2px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  4px 4px 10px var(--color-3-2),
  0 -1px 0 var(--color-0);
  z-index: -1;
}

.educations-container {
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10000;
}

#educations-dot {
  position: fixed;
  margin: 0;
  left: .55rem;
  bottom: -.9rem;
  font-size: 4rem;
  animation: blink 2.5s infinite;
  color: transparent;
  text-shadow: 1px -1px 1px var(--color-3-1),
              1px 1px 0 var(--color-00),
              2px 1px 1px var(--color-4-0);
}

.educations-wrapper {
  position: fixed;
  left: 2.3rem;
  bottom: 0;
  padding-left: .1rem;
  white-space: nowrap;
  overflow: hidden;
}

#educations {
  position: fixed;
  margin: 0;
  bottom: 0;
  font-size: 2.2rem;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-2),
  2px 2px 0 var(--color-4),
  1px -1px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  -1px -1px 0 var(--color-0),
  1px 0 0 var(--color-0),
  3px 3px 0 var(--color-0),
  -1px 2px 0 var(--color-0),
  -1px 0 0 var(--color-0),
  3px 3px 3px var(--color-4),
  0 -1px 0 var(--color-0);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  root {
    max-width: 100vw;
    max-height: fit-content;
  }

  body {
    max-width: 100vw;
  }

  h1 {
    scale: 0.7;
    top: -91px;
    left: -30px;
  }

  h2 {
    position: relative;
    display: block;
    width: 90vw;
    font-size: 2rem;
    top: 0;
    left: 3vw;
    text-align: left;
    margin: 0 6vw .3vh 0;
  }

  .section {
    max-width: 90vw;
    min-height: 75vh;
  }

  .shadow-wrapper-start {
    max-height: 100vh;
    box-shadow: inset 5vw 0 2.5vw var(--color-0);
  }

  .shadow-wrapper-end {
    max-height: 100vh;
    box-shadow: inset -5vw 0 2.5vw var(--color-0);
  }

  @keyframes animate {
    0% {
      background-size: 100% 0;
    }
    100% {
      background-size: 100% 100%;
    }
  }

  .educations-container {
    position: fixed;
    height: 1.2rem;
    bottom: 10vh;
    width: 100vw;
    z-index: 10000;
  }

  #educations-dot {
    margin: 0;
    left: 2vw;
    bottom: 9vh;
    font-size: 2rem;
  }

  .educations-wrapper {
    left: 6vw;
    white-space: nowrap;
    overflow: hidden;
  }

  #educations {
    margin: 0;
    font-size: 1rem;
    bottom: 10vh;
    text-shadow: 1px 1px 0 var(--color-2),
    2px 2px 0 var(--color-4),
    1px -1px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    -1px -1px 0 var(--color-0),
    1px 0 0 var(--color-0),
    3px 3px 0 var(--color-0),
    -1px 2px 0 var(--color-0),
    -1px 0 0 var(--color-0),
    3px 3px 3px var(--color-4),
    0 -1px 0 var(--color-0);
  }

  footer {
    position: fixed;
    justify-content: center;
  }
}



