// styles.scss
@import "header";
@import 'navigation';
@import "welcome";
@import "about-me";
@import "motivation";
@import "skills";
@import "projects";
@import "credits";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
  font-family: Typewriter, ui-monospace, monospace, sans-serif;
  width: 100%;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --font-1: Typewriter, ui-monospace, monospace, sans-serif;
  --font-2: 'Alfa Slab One', cursive;

  --color-0: #020202;
  --color-00: #050505;
  --color-01: #101010;
  --color-1: #252526;
  --color-2: #333334;
  --color-21: #414144;
  --color-22: #4a4a4d;
  --color-23: #626265;
  --color-3-3: #0a0000;
  --color-3-2: #1c0000;
  --color-3-1: #440000;
  --color-3: #5d0101;
  --color-31: #830401;
  --color-4: #7d7e83;
  --color-41: #a7acb2;
  --color-4-0: #c4c4c4;
  --color-5-2: #334bf5;
  --color-5-1: #1832e3;
  --color-5: #011bd3;
  --color-51: #010186;
  --color-52: #000b6d;
  --color-53: #000650;

  background-color: var(--color-0);
  color: var(--color-4);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #101010;
}
body::-webkit-scrollbar-corner {
  background-color: #101010;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-3-1);
  border: 1px solid var(--color-41);
  border-radius: 25px;
}

h2 {
  position: relative;
  right: 2%;
  top: 0;
  color: var(--color-41);
  letter-spacing: 2px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  max-width: 100vw;
}

@media only screen and (max-width: 768px) {

  h1 {
    scale: 0.7;
    top: -91px;
    left: -30px;
  }

  .greeting-container {
    position: absolute;
    left: 60%;
  }

  .greeting {
    position: absolute;
    font-size: medium;
    width: 30%;
    top: 25%;
    left: 60%;
    display: block; /* Jedes Wort in einer separaten Zeile anzeigen */
    text-align: start;
    overflow: hidden;
    background: linear-gradient(180deg,
            var(--color-22),
            var(--color-23),
            var(--color-4-0)
    ) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animate 6s linear infinite;
    line-height: 3; /* Erhöht den Abstand zwischen den Zeilen */
  }

  @keyframes animate {
    0% {
      background-size: 100% 0;
    }
    100% {
      background-size: 100% 100%;
    }

  }

  .es {
    left: -.5%;
    filter: brightness(45%);
  }

  footer {
    position: fixed;
    justify-content: space-around;
  }
}



