.welcome-container {
  position: relative;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.es-container {
  position: absolute;
  display: flex;
  height: 70vh;
  width: 100vw;
}

#es {
  position: absolute;
  left: 0;
  height: 70vh;
  filter: brightness(70%);
  transform: scaleX(-1);
  z-index: 102;
}
#es:hover {
  filter: brightness(90%);
}

.greeting {
  position: absolute;
  width: 95%;
  top: 49%;
  left: 7%;
/*  text-transform: uppercase;*/
  font-family: var(--font-4);
  font-size: 2rem;
  letter-spacing: 6px;
  overflow: hidden;
  background: linear-gradient(90deg,
          var(--color-0),
          var(--color-4),
          var(--color-4-0),
          var(--color-4),
          var(--color-0)
  ) no-repeat;
  background-size: 80%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-align: center;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media only screen and (max-width: 768px) {

  .greeting-container {
    position: absolute;
    width: 100vw;
    left: 62.5%;
  }

  .greeting {
    position: absolute;
    font-size: medium;
    font-weight: normal;
    width: 39%;
    top: 15%;
    left: 50%;
    display: block;
    text-align: start;
    overflow: hidden;
    background: linear-gradient(180deg,
            var(--color-0),
            var(--color-4-0),
            var(--color-0),
            var(--color-4-0),
            var(--color-0),
    ) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animate 7s linear infinite;
    line-height: 2.5;
  }

  .es-container {
    top: 20vh;
  }

  #es {
    height: 60vh;
  }

}