@charset "UTF-8";
@keyframes mirrorRotate {
  0% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(0deg); }
  50% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(90deg); }
  100% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(180deg);
    /*@include animate(bounce, up, null, 2.5s, 1);*/ } }
nav {
  position: fixed;
  width: 100vw;
  top: 3vh;
  display: flex;
  justify-content: center;
  align-items: start; }
  nav a {
    text-decoration: none;
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 20vw;
    margin: 2.75vh .5vw 0 .5vw;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 8px;
    color: transparent;
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--color-011), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 3px 3px 3px var(--color-4), 0 -1px 0 var(--color-0); }
    nav a:hover {
      transform: scale(1.2);
      color: transparent;
      text-shadow: 0 1px 1px var(--color-0), 1px 1px 0 var(--color-41), 1px -1px 0 var(--color-41), -1px 0 0 var(--color-41), -1px -1px 0 var(--color-41), 1px 0 0 var(--color-41), 2px 2px 0 var(--color-4-0), 2px 0 0 var(--color-41), -1px 1px 0 var(--color-41), -1px 2px 0 var(--color-41), 0 -1px 0 var(--color-41); }
    nav a.active {
      font-weight: bold;
      animation: mirrorRotate 1s forwards;
      color: transparent;
      text-shadow: 1px 1px 0 var(--color-3-1), 0 0 0 var(--color-22), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 2px 5px 5px var(--color-31), 0 -1px 0 var(--color-0); }
  nav a:not(.active):focus {
    outline: none;
    animation: bounce 1s 0.5;
    font-weight: bold;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-3), 1px 2px 0 var(--color-4-0), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 3px 3px 4px var(--color-4-0), 0 -1px 0 var(--color-0); }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }
  nav a.active:focus {
    outline: none;
    font-weight: bold;
    animation: bounce 1s 0.5;
    scale: 1.5;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-3-1), 0 0 0 var(--color-41), 2px 2px 0 var(--color-41), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 0 -1px 0 var(--color-0); }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }
  nav #es-nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0;
    transition: transform 0.5s ease;
    animation: none; }
  nav .about-link-label {
    position: fixed;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--color-0), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 0 -1px 0 var(--color-0); }
  nav #es-nav-logo:hover .about-link-label,
  nav #es-nav-logo:focus .about-link-label,
  nav #es-nav-logo.active .about-link-label {
    font-weight: lighter;
    text-shadow: 1px 1px 0 var(--color-31), 1px 1px 0 var(--color-0), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 2px 2px 0 var(--color-0), -1px 1px 0 var(--color-0), -1px 0 0 var(--color-0), 2px 2px 5px var(--color-0), 0 -1px 0 var(--color-0); }
  nav #es-nav-logo img {
    margin: 0; }
  nav #es-nav-logo:hover,
  nav #es-nav-logo:focus,
  nav #es-nav-logo.active {
    scale: 1.1;
    animation: none; }
  nav .footer-links-container a:hover {
    scale: 1.1;
    color: var(--color-4-0); }

#business-card-nav-link,
#credits-nav-link {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  top: 0;
  width: 7rem;
  padding: 5px 10px 0 25px;
  border-bottom: 1px solid var(--color-2);
  border-left: 2px solid var(--color-1);
  border-radius: 0 0 2px 35px;
  background-color: var(--color-3-2);
  box-shadow: inset 0 -5px 10px var(--color-3-1), inset -3px 5px 9px var(--color-23);
  opacity: .65; }

#business-card-nav-link {
  left: 0;
  padding: 5px 20px 0 15px;
  border-left: 2px solid var(--color-1);
  border-radius: 0 2px 35px 0;
  box-shadow: inset 0 5px 10px var(--color-3-1), inset 3px 5px 9px var(--color-23); }

#business-card-nav-link:hover,
#credits-nav-link:hover {
  background-color: var(--color-3-11);
  opacity: 1; }

#business-card-nav-link a,
#credits-nav-link a {
  margin: 0;
  max-width: fit-content;
  font-size: 1.3rem;
  top: 0;
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--color-0), 2px 2px 0 var(--color-4-0), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 0 0 6px var(--color-31), 0 -1px 0 var(--color-0); }

#business-card-nav-link:focus a,
#business-card-nav-link:hover a,
#credits-nav-link:focus a,
#credits-nav-link:hover a {
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--color-3), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 0 -1px 0 var(--color-0);
  transform: none; }

#business-card-nav-link a.active,
#credits-nav-link a.active {
  color: var(--color-41);
  font-weight: bold;
  animation: none; }

.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  right: 3.75vw;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.4s ease; }

.menu-toggle {
  position: absolute;
  right: 7.5vw;
  /*bottom: calc(4vh - 3.75rem);*/
  bottom: 4vh;
  height: 30px;
  width: 30px;
  cursor: pointer; }

/* Stile für den Burger-Button */
.burger-line {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: transform 0.3s ease; }

/* Stile für den Burger-Button bei geöffnetem Navigationsbereich */
.nav-open .burger-line:nth-child(1) {
  position: relative;
  transform: translateY(8px) rotate(45deg); }

.nav-open .burger-line:nth-child(2) {
  opacity: 0; }

.nav-open .burger-line:nth-child(3) {
  position: relative;
  transform: translateY(-10px) rotate(-45deg); }

/* Stile für den mobilen Navigationsbereich bei geöffnetem Navigationsbereich */
.mobile-nav.nav-open {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1vw;
  border-bottom-left-radius: 150px;
  border-top-left-radius: 150px;
  background-color: var(--color-21);
  box-shadow: inset 5px 5px 35px var(--color-0), inset 5px -5px 35px var(--color-0);
  border: 2px solid var(--color-3);
  outline: 1px solid var(--color-23);
  top: 22vh;
  right: -1vw;
  width: 52.5vw;
  height: 55vh;
  transition: transform 0.3s ease;
  transform: translateX(0); }

/* Stile für den aktiven Link im mobilen Navigationsbereich bei geöffnetem Navigationsbereich */
.mobile-nav.nav-open a.active {
  text-shadow: 1px 1px 0 var(--color-3-1), 1px 1px 0 var(--color-0), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 2px 2px 0 var(--color-0), -1px 1px 0 var(--color-0), -1px 0 0 var(--color-0), 2px 2px 5px var(--color-0), 0 -1px 0 var(--color-0);
  animation: none; }

@media only screen and (min-height: 50vh) {
  .scroll-to-top.show {
    display: block; } }
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    bottom: 4vh; }

  nav {
    display: none; }

  nav a {
    position: relative;
    display: flex;
    justify-content: end;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 5px;
    right: 3vw;
    top: -5vh;
    width: fit-content;
    text-shadow: 1px 1px 0 var(--color-21), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 3px 3px 3px var(--color-41), 0 -1px 0 var(--color-0); }

  .about-link-label {
    z-index: 0; }

  a#es-nav-logo {
    font-size: 1rem;
    font-weight: bold;
    margin: 4vh 0 2vh 0;
    text-decoration: none;
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    right: 5px;
    width: 100px;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 var(--color-21), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 3px 3px 3px var(--color-41), 0 -1px 0 var(--color-0); }

  #es-nav-logo img {
    display: none !important; }

  #business-card-nav-link {
    display: none; }

  #credits-nav-link {
    top: 75%;
    right: 3vw;
    font-size: 1rem;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 25vw;
    opacity: 1; }

  #credits-nav-link a {
    font-size: 1rem;
    text-shadow: 1px 1px 0 var(--color-21), 2px 2px 0 var(--color-4), 1px -1px 0 var(--color-0), -1px 0 0 var(--color-0), -1px -1px 0 var(--color-0), 1px 0 0 var(--color-0), 3px 3px 0 var(--color-0), -1px 2px 0 var(--color-0), -1px 0 0 var(--color-0), 3px 3px 3px var(--color-41), 0 -1px 0 var(--color-0); }

  .scroll-to-top {
    left: 5vw;
    width: 20px;
    height: 20px;
    bottom: 2vh; }

  .scroll-to-top i {
    text-shadow: none;
    font-size: 2.5rem;
    color: var(--color-3); } }
/* Stile für größere Bildschirme (mindestens 769px Bildschirmbreite) */
@media screen and (min-width: 769px) {
  /* Verstecken Sie den Burger-Button und zeigen Sie das normale Menü */
  .menu-toggle {
    display: none; }

  nav {
    display: flex; } }
footer {
  color: var(--color-21);
  position: fixed;
  bottom: 0;
  left: -8px;
  width: 100vw;
  height: 3rem;
  background-color: var(--color-0);
  box-shadow: 0 -25px 25px var(--color-0); }

footer .ripples-container-large {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: end; }

footer i {
  position: relative;
  bottom: 1.5vh;
  margin: 0 10px;
  color: var(--color-4);
  font-size: 3rem;
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0); }

#fa-square-phone-flip {
  transform: scaleX(-1) rotate(90deg); }

footer i:hover,
footer a:hover {
  scale: 1.3;
  color: var(--color-4-0); }

footer a:focus,
footer a:focus i {
  color: var(--color-41);
  outline: none;
  animation: bounce 1s 0.5;
  scale: 1.2; }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }
@media only screen and (max-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    max-width: 100vw;
    height: 12vh;
    box-shadow: 0 -2vh 1vh var(--color-0); }

  footer i {
    bottom: 4vh; } }

/*# sourceMappingURL=footer.css.map */
