@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
nav {
  position: fixed;
  top: 27px;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav a {
    position: relative;
    text-decoration: none;
    font-family: Typewriter, ui-monospace, monospace, sans-serif;
    color: var(--color-22);
    margin: 1em 1.8em;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 3px; }
    nav a img#nav-chuck {
      /* Selektiere das Bild */
      width: 50px;
      /* Gib die gewünschte Breite */
      height: auto;
      /* Autohöhe beibehalten, um das Bild zu skalieren */
      opacity: .5;
      transition: transform 0.3s ease;
      /* Füge eine Übergangseigenschaft hinzu */ }
    nav a:hover {
      animation: bounce 0.8s 1;
      font-weight: bold;
      color: var(--color-41); }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }
    nav a:hover img#nav-chuck {
      /* Bewahre die Drehung nur auf das Bild */
      transform: rotate(360deg);
      /* Drehe um 360 Grad */ }
    nav a.active {
      /* Hier wieder die Stile für das aktive Element */
      color: var(--color-3);
      font-weight: bold;
      transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1);
      animation: mirrorRotate 1s forwards; }
      nav a.active img#nav-chuck {
        transform: none;
        /* Stelle sicher, dass das Bild nicht rotiert, wenn das Element aktiv ist */
        opacity: 1; }
    nav a:hover:not(:focus), nav a:active:not(.active) {
      animation: rotate 1s 1; }
@keyframes rotate {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }
  nav a:not(.active):focus {
    color: var(--color-41);
    outline: none;
    transform: rotateX(180deg);
    border-bottom: 1px solid var(--color-31); }
  nav a.active:focus {
    color: white;
    outline: none;
    border-bottom: 1px solid var(--color-31); }

@keyframes mirrorRotate {
  0% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(0deg); }
  50% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(90deg); }
  100% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(180deg);
    @keyframes bounce {
      0% {
        transform: translateY(0); }
      50% {
        transform: translateY(-0.75rem); }
      100% {
        transform: translateY(0); } }
    animation: bounce 0.5s 1; } }
.menu-toggle {
  position: absolute;
  right: 15px;
  top: 8px;
  z-index: 999; }

.burger-line {
  display: block;
  /* Damit die Spans standardmäßig inline sind */
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: transform 0.3s ease; }

/* Animation für das Öffnen des Burgers */
.nav-open .burger-line:nth-child(1) {
  position: relative;
  transform: translateY(8px) rotate(45deg); }

.nav-open .burger-line:nth-child(2) {
  opacity: 0; }

/* Animation für das Schließen des Burgers */
.nav-open .burger-line:nth-child(3) {
  position: relative;
  transform: translateY(-10px) rotate(-45deg); }

/* Zeige die mobile Navigation, wenn der Burger geklickt wird */
.nav-open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-01);
  padding: 50px 0;
  /* Platz für den Header */
  border-bottom-left-radius: 150px;
  outline: 1px solid var(--color-3-1);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease;
  transform: translateX(0); }

.nav-open .mobile-nav a {
  color: var(--color-4); }

.nav-open .mobile-nav a.active {
  color: var(--color-3);
  font-weight: bold;
  transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1);
  animation: mirrorRotate 1s forwards; }

/* Media Query für kleinere Bildschirme (maximale Bildschirmbreite von 768px) */
@media screen and (max-width: 768px) {
  /* Zeigen Sie den Burger-Button und verstecken Sie das normale Menü */
  .menu-toggle {
    display: block; }

  nav {
    display: none; } }
/* Stile für größere Bildschirme (mindestens 769px Bildschirmbreite) */
@media screen and (min-width: 769px) {
  /* Verstecken Sie den Burger-Button und zeigen Sie das normale Menü */
  .menu-toggle {
    display: none; }

  nav {
    display: flex; } }
:root {
  font-family: Typewriter, ui-monospace, monospace, sans-serif;
  width: 100%;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --color-0: #020202;
  --color-00: #050505;
  --color-01: #101010;
  --color-1: #252526;
  --color-2: #333334;
  --color-21: #414144;
  --color-22: #4a4a4d;
  --color-23: #626265;
  --color-3-3: #0a0000;
  --color-3-2: #1c0000;
  --color-3-1: #440000;
  --color-3: #5d0101;
  --color-31: #830401;
  --color-4: #7d7e83;
  --color-41: #a7acb2;
  --color-4-0: #c4c4c4;
  --color-5-2: #334bf5;
  --color-5-1: #1832e3;
  --color-5: #011bd3;
  --color-51: #010186;
  --color-52: #000b6d;
  --color-53: #000650;
  background-color: var(--color-01);
  color: var(--color-4); }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }

h1 {
  position: absolute;
  top: -73px;
  left: -13px;
  text-transform: uppercase;
  font-family: "Alfa Slab One", serif;
  font-style: normal;
  color: var(--color-3-1); }

.h1-e {
  font-size: 4.9em;
  top: 50px;
  text-shadow: 0 0 10px var(--color-00); }

.h1-s {
  position: absolute;
  font-size: 4.9em;
  top: -2px;
  left: 73px;
  z-index: -1;
  text-shadow: 0 0 10px var(--color-01); }

.landing-container {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }

.es-container {
  position: absolute;
  display: flex;
  box-shadow: 0 0 10px var(--color-4-0);
  height: 80%;
  width: 100%; }

.es {
  position: absolute;
  top: 7%;
  height: 90%;
  filter: brightness(60%);
  transform: scaleX(-1); }

.skills-container {
  width: 100%;
  position: relative;
  text-align: center;
  /* Zentriert den Inhalt horizontal */ }

#skills-dot {
  position: absolute;
  font-size: 4em;
  top: 95.6%;
  left: 74.6%;
  /* Zentriert horizontal */
  transform: translate(-50%, -50%);
  color: var(--color-3); }

.skills-wrapper {
  position: absolute;
  top: 87.4%;
  left: 75%;
  /* Zentriert horizontal */
  letter-spacing: 6px;
  white-space: nowrap;
  overflow: hidden;
  /* Verhindert das Überlaufen */ }

#skills {
  font-size: 2.5em;
  font-weight: bold;
  display: inline-block;
  color: var(--color-4);
  white-space: nowrap;
  overflow: hidden; }

@keyframes expandFromDot {
  0% {
    width: 0;
    /* Startbreite */ }
  100% {
    width: auto;
    /* Endbreite */ } }
.blink {
  animation: blink 1s infinite; }

.typing {
  animation: typing 4s steps(20, end) forwards; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.greeting {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 10%;
  text-transform: uppercase;
  font-family: Typewriter, ui-monospace, monospace, sans-serif;
  font-size: 1.5em;
  letter-spacing: 6px;
  overflow: hidden;
  background: linear-gradient(90deg, var(--color-01), var(--color-4), var(--color-00)) no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-align: center;
  /* Zentriert den Text horizontal */ }

.pipe-cursor {
  position: relative;
  color: transparent;
  top: 30%;
  /* Anpassen Sie die Top-Position nach Bedarf */ }

@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }
footer {
  color: var(--color-21);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }

i {
  margin: 0 10px;
  color: var(--color-4-0);
  opacity: .3; }

@media only screen and (max-width: 768px) {
  h1 {
    scale: 0.7;
    top: -91px;
    left: -30px; }

  .h1-e {
    font-size: 4.9em;
    top: 45px; }

  .h1-s {
    position: absolute;
    font-size: 4.91em; }

  .skills-container {
    top: 0;
    width: 100%;
    position: relative;
    text-align: center;
    /* Zentriert den Inhalt horizontal */ }

  #skills-dot {
    position: absolute;
    font-size: 3em;
    top: -2.5%;
    left: 29%;
    /* Zentriert horizontal */
    transform: translate(-50%, -50%);
    color: var(--color-3); }

  .skills-wrapper {
    position: absolute;
    top: -7%;
    left: 33%;
    /* Zentriert horizontal */
    letter-spacing: 4px;
    white-space: nowrap;
    overflow: hidden;
    /* Verhindert das Überlaufen */ }

  #skills {
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    color: var(--color-4);
    white-space: nowrap;
    overflow: hidden; }

  .greeting-container {
    position: absolute;
    left: 60%; }

  .greeting {
    position: absolute;
    font-size: medium;
    width: 30%;
    top: 25%;
    left: 60%;
    display: block;
    /* Jedes Wort in einer separaten Zeile anzeigen */
    text-align: start;
    overflow: hidden;
    background: linear-gradient(180deg, var(--color-22), var(--color-23), var(--color-4-0)) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animate 6s linear infinite;
    line-height: 3;
    /* Erhöht den Abstand zwischen den Zeilen */ }

  @keyframes animate {
    0% {
      background-size: 100% 0; }
    100% {
      background-size: 100% 100%; } }
  .es {
    left: -.5%;
    filter: brightness(45%); } }

/*# sourceMappingURL=styles.css.map */
