@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
header {
  position: fixed;
  top: 0;
  left: -.2vw;
  padding: 0;
  width: 105%;
  height: 10vh;
  background-color: var(--color-0);
  box-shadow: 0 25px 25px var(--color-0);
  z-index: 100; }

header .ripples-container-large {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }

h1 {
  visibility: hidden; }

@media only screen and (max-width: 768px) {
  header {
    max-width: 100vw;
    box-shadow: 0 2vh 1vh var(--color-0); } }
nav {
  position: fixed;
  width: 100vw;
  top: 3vh;
  display: flex;
  justify-content: center;
  align-items: start; }
  nav a {
    text-decoration: none;
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 20vw;
    margin: 2.75vh .5vw 0 .5vw;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 8px;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-22), 1px 2px 0 var(--color-4-0), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }
    nav a:hover {
      transform: scale(1.2);
      font-weight: bold;
      color: var(--color-41); }
    nav a.active {
      font-weight: bold;
      /*     transform: rotateX(180deg) rotateZ(180deg) scaleX(-1);*/
      animation: mirrorRotate 1s forwards;
      color: transparent;
      text-shadow: 1px 1px 0 var(--color-2), 0 0 0 var(--color-41), 2px 2px 0 var(--color-41), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }
    nav a:hover:not(:focus), nav a:active:not(.active) {
      color: var(--color-3-1);
      font-weight: bold; }
  nav a:not(.active):focus {
    color: var(--color-41);
    outline: none;
    animation: bounce 1s 0.5;
    font-weight: bold;
    text-shadow: none; }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }
  nav a.active:focus {
    color: var(--color-4-0);
    outline: none;
    text-shadow: none; }
  nav #es-nav-logo {
    margin: 0;
    transition: transform 0.5s ease;
    animation: none; }
  nav #es-nav-logo:hover,
  nav #es-nav-logo:focus,
  nav #es-nav-logo.active {
    scale: 1.2;
    animation: none; }
  nav #es-nav-logo.active img {
    transform: scale(1.2); }
  nav i:hover {
    scale: 1.2;
    color: var(--color-4-0); }

.business-card-container a:hover {
  color: var(--color-41);
  animation: none;
  transform: none; }

#business-card-nav-link,
#credits-nav-link {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  top: 0;
  width: 7rem;
  padding: 5px 10px 0 25px;
  border-bottom: 1px solid var(--color-2);
  border-left: 2px solid var(--color-1);
  border-radius: 0 0 2px 35px;
  background-color: var(--color-3-2);
  box-shadow: inset 0 -5px 10px var(--color-3-1), inset -3px 5px 9px var(--color-23);
  opacity: .5; }

#business-card-nav-link {
  left: 0;
  padding: 5px 20px 0 15px;
  border-left: 2px solid var(--color-1);
  border-radius: 0 2px 35px 0;
  box-shadow: inset 0 5px 10px var(--color-3-1), inset 3px 5px 9px var(--color-23); }

#business-card-nav-link:hover,
#credits-nav-link:hover {
  opacity: 1; }

#business-card-nav-link a,
#credits-nav-link a {
  margin: 0;
  max-width: fit-content;
  color: var(--color-4);
  font-size: 1.3rem;
  top: 0;
  letter-spacing: 5px; }

#business-card-nav-link a:focus,
#business-card-nav-link a:hover,
#credits-nav-link a:focus,
#credits-nav-link a:hover {
  font-weight: bold;
  color: var(--color-4);
  transform: none; }

#business-card-nav-link a.active,
#credits-nav-link a.active {
  color: var(--color-41);
  font-weight: bold;
  animation: none; }

.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  right: 3.75vw;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.4s ease; }

@media only screen and (min-height: 50vh) {
  .scroll-to-top.show {
    display: block; } }
@keyframes mirrorRotate {
  0% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(0deg); }
  50% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(90deg); }
  100% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(180deg);
    @keyframes bounce {
      0% {
        transform: translateY(0); }
      50% {
        transform: translateY(-0.75rem); }
      100% {
        transform: translateY(0); } }
    animation: bounce 2.5s 1; } }
.menu-toggle {
  position: absolute;
  right: 15px;
  z-index: 9999; }

.burger-line {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: transform 0.3s ease; }

.nav-open .burger-line:nth-child(1) {
  position: relative;
  transform: translateY(8px) rotate(45deg); }

.nav-open .burger-line:nth-child(2) {
  opacity: 0; }

.nav-open .burger-line:nth-child(3) {
  position: relative;
  transform: translateY(-10px) rotate(-45deg); }

.nav-open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-01);
  padding: 50px 0;
  border-bottom-left-radius: 150px;
  outline: 1px solid var(--color-3-1);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease;
  transform: translateX(0); }

.nav-open .mobile-nav a {
  color: var(--color-4); }

.nav-open .mobile-nav a.active {
  color: var(--color-3);
  font-weight: bold;
  transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1);
  animation: mirrorRotate 1s forwards; }

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; }

  nav {
    display: none; }

  nav a {
    font-size: 3.25vw; }

  #business-card {
    display: none; }

  #credits-nav-link {
    position: absolute;
    top: 0; } }
/* Stile für größere Bildschirme (mindestens 769px Bildschirmbreite) */
@media screen and (min-width: 769px) {
  /* Verstecken Sie den Burger-Button und zeigen Sie das normale Menü */
  .menu-toggle {
    display: none; }

  nav {
    display: flex; } }
.welcome-container {
  position: relative;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1; }

.es-container {
  position: absolute;
  display: flex;
  height: 70vh;
  width: 100vw; }

#es {
  position: absolute;
  left: 0;
  height: 70vh;
  filter: brightness(40%);
  transform: scaleX(-1);
  z-index: 102; }

#es:hover {
  filter: brightness(70%); }

.greeting {
  position: absolute;
  width: 95%;
  top: 49%;
  left: 7%;
  text-transform: uppercase;
  font-family: var(--font-2);
  font-size: 1.6em;
  letter-spacing: 6px;
  overflow: hidden;
  background: linear-gradient(90deg, var(--color-01), var(--color-41), var(--color-00)) no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-align: center; }

@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }
@media only screen and (max-width: 768px) {
  .greeting {
    top: 15%; } }
.motivation-container {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 78vh;
  min-width: 100vw;
  max-width: 100vw;
  z-index: 0; }

.motivation-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  left: 5vw;
  max-width: 90vw;
  font-weight: bold; }

.motivation-essence {
  font-family: var(--font-2);
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: 10px;
  color: var(--color-3);
  text-shadow: 1px 0 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0);
  filter: brightness(85%); }

.motivation-img {
  position: relative;
  height: 50vh; }

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  left: 5vw;
  max-width: 90vw;
  min-height: 78vh;
  min-width: 95vw; }

.about-me-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  left: 5vw;
  max-width: 90vw;
  font-weight: bold; }

.skills-container {
  display: flex;
  justify-content: center;
  align-items: start; }

.skills-wrapper {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column;
  max-width: 90vw;
  left: 5vw; }

.category-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  /*  min-width: 500px;*/ }

.category-container h3 {
  margin: 1rem 0 0;
  font-family: var(--font-1);
  font-size: 3.5rem;
  letter-spacing: 8px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-011), 2px 1px 0 var(--color-21), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }

.category-skills-container {
  position: relative;
  margin: .3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80vh; }

.skill {
  perspective: 1000px;
  width: 200px;
  height: 115px;
  margin: 0.5rem;
  background-color: var(--color-0);
  border-radius: 15px;
  border: 1px solid var(--color-4);
  outline: 2px solid var(--color-22);
  box-shadow: inset 9px 9px 10px var(--color-2), inset -9px -9px 10px var(--color-1); }

.skill .skill-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 10px var(--color-21);
  transform-style: preserve-3d;
  transition: transform 0.8s; }

.skill.flip .skill-content {
  padding: 20px;
  transform: rotateY(180deg);
  background-color: var(--color-00);
  box-shadow: inset 0 0 20px var(--color-41);
  border: 1px solid var(--color-4-0);
  outline: 4px solid var(--color-3);
  width: 95vw;
  height: 55vh; }

.skill.flip {
  position: fixed;
  top: 22.5%;
  left: .7%;
  transform: translate(2%, -22.5%);
  z-index: 1; }

.skill .skill-front,
.skill .skill-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px; }

.skill .skill-front {
  display: grid; }

.proficiency-chart {
  transform: scaleX(-1);
  position: relative;
  bottom: -10px;
  right: -40px;
  scale: .45; }

.skill-name {
  position: absolute;
  left: 2px;
  top: -25px;
  font-family: var(--font-2);
  font-size: 1.45em;
  padding: 5px 5px 5px 15px;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px 0 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-41); }

.skill-back .skill-name {
  grid-row: 1;
  grid-column: 1;
  min-width: fit-content;
  position: absolute;
  padding: 5px 25px 5px 15px;
  font-family: var(--font-2);
  letter-spacing: 4px;
  font-size: 1.5em;
  top: -61px;
  left: 31px;
  color: var(--color-22);
  background-color: var(--color-0);
  border-radius: 14px 1px 35px 1px;
  outline: 2px solid var(--color-2);
  box-shadow: inset -2px -2px 10px var(--color-2), 2px 2px 10px var(--color-21); }

.skill .skill-back {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  justify-items: start;
  transform: rotateY(180deg); }

.topics-container {
  position: relative;
  top: 2.5%;
  left: 3%;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  /* Ändern Sie die Ausrichtung */
  height: 90%;
  width: 75%;
  /* Breite auf 100% setzen */ }

.topics-container h5,
.skill-project-use-container h5 {
  margin: 0;
  font-family: var(--font-2);
  font-size: 1.3em;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px 0 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-41); }

.topics-container ul {
  margin: 0; }

.topics-container ul li {
  font-weight: bold;
  font-size: 1.15em;
  margin-bottom: 5px;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px -1px 0 var(--color-23), -1px 0 1px var(--color-0), -1px -1px 1px var(--color-4-0); }

.skill-project-use-container {
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  grid-column: 2;
  /* Ändern Sie die Grid-Spaltenpositionierung */
  grid-row: 2;
  /* Ändern Sie die Grid-Zeilenpositionierung */
  text-align: left;
  justify-self: center;
  /* Ändern Sie die Ausrichtung */
  height: 95%;
  width: 90%;
  /* Breite auf 100% setzen */ }

.skill-project-use-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  color: var(--color-22);
  font-weight: bold; }

.skill-project-use-container ul ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: var(--color-4); }

.skill-bar-container {
  grid-row: 1;
  /* Behalten Sie die Grid-Zeilenpositionierung bei */
  grid-column: 2 / span 2;
  /* Ändern Sie die Grid-Spaltenpositionierung */
  width: 90%;
  /* Breite auf 100% setzen */
  position: relative;
  /* Setzen Sie die Position auf relativ */
  height: 26px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-items: start;
  align-items: baseline;
  justify-self: end; }

/* Stil für die Balken */
.skill-bar {
  position: relative;
  align-content: center;
  margin: 3px 0;
  width: 98%;
  height: 60px;
  border: 1px solid var(--color-41);
  outline: 3px solid var(--color-00);
  background-color: var(--color-01);
  /* border-radius: 50px;*/
  box-shadow: inset 0 8px 25px var(--color-21), inset 5px -8px 25px var(--color-21);
  overflow: hidden;
  /* Hinzugefügt, um das Überlappen zu ermöglichen */ }

.skill-bar-cover-start {
  position: absolute;
  left: -30px;
  top: 2px;
  height: 62px;
  width: 2%;
  border: 1px solid var(--color-4);
  outline: 3px solid var(--color-00);
  border-radius: 50px 0 0 50px;
  background-color: var(--color-01);
  z-index: 5;
  box-shadow: inset 1px 1px 4px var(--color-4-0), inset -2px -10px 10px var(--color-1); }

.skill-bar-cover-end {
  position: absolute;
  right: -1px;
  top: 2px;
  height: 62px;
  width: 2%;
  border: 1px solid var(--color-4);
  outline: 3px solid var(--color-00);
  border-radius: 0 50px 50px 0;
  background-color: var(--color-01);
  z-index: 5;
  box-shadow: inset -1px 1px 4px var(--color-4-0), inset 4px -10px 10px var(--color-1); }

.skill-bar-fill {
  position: relative;
  height: 30%;
  border-radius: 0 20px 20px 0;
  border: 1px solid var(--color-00);
  box-shadow: inset 1px 1px 2px var(--color-3), inset 0 -1px 2px var(--color-3), inset -2px 5px 8px var(--color-4-0), inset -5px -6px 10px var(--color-00); }

.total-applied {
  background-color: var(--color-3-1);
  /* Farbe für total applied */
  z-index: 3;
  left: 0;
  /* Positionierung für total applied */ }

.unassisted {
  background-color: var(--color-1);
  /* Farbe für unassisted */
  z-index: 2;
  left: 0;
  /* Positionierung für unassisted */ }

.coach-guided {
  background-color: var(--color-41);
  /* Farbe für coach guided */
  z-index: 1;
  left: 0;
  /* Positionierung für coach guided */ }

.skill-bar-value {
  position: relative;
  font-weight: bold;
  top: 2px;
  left: 2px;
  font-size: 1.5em;
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px -1px 0 var(--color-22), -1px 0 1px var(--color-0), -1px -1px 1px var(--color-41);
  z-index: 4;
  /* Damit der Wert über den Balken angezeigt wird */ }

.skill-legend {
  position: absolute;
  font-weight: bold;
  top: -30px;
  left: 0;
  /* Ändern Sie den Abstand zum linken Rand */
  width: 100%;
  /* Breite auf 100% setzen */
  display: flex;
  justify-content: end; }

.skill-legend-item {
  position: relative;
  width: fit-content;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 3px; }

.skill-legend-item .skill-bar-fill {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-00);
  outline: 1px solid var(--color-41);
  margin: 0 5px;
  box-shadow: inset 0 -1px 2px var(--color-3), inset 1px 1px 4px var(--color-4-0), inset -1px -4px 8px var(--color-00); }

@media only screen and (max-width: 768px) {
  .category-container {
    position: relative;
    margin: 0;
    display: inline-block;
    flex-direction: column;
    align-items: stretch;
    max-width: 98vw;
    min-width: 98vw; }

  .category-skills-container {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100vw; } }
.projects-container {
  display: flex;
  justify-content: center;
  align-items: start; }

.project-management-container {
  position: relative;
  left: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 90vw;
  padding: 10px; }

.projects-container h3 {
  position: relative;
  left: 5vw;
  margin: 1rem 0 0;
  font-family: var(--font-1);
  font-size: 3.5rem;
  letter-spacing: 8px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-011), 2px 2px 0 var(--color-4), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }

.project {
  min-width: 300px;
  min-height: 160px;
  margin: 0.5rem;
  perspective: 1000px;
  border-radius: 15px;
  flex-shrink: 1;
  background-color: var(--color-0);
  border: 1px solid var(--color-4);
  outline: 2px solid var(--color-22);
  box-shadow: inset 9px 9px 10px var(--color-2), inset -9px -9px 10px var(--color-1); }

.project .project-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 15px var(--color-21);
  transform-style: preserve-3d;
  transition: transform 0.8s; }

.project.flip .project-content {
  padding: 20px;
  transform: rotateY(180deg);
  background-color: var(--color-00);
  box-shadow: inset 0 0 20px var(--color-41);
  border: 1px solid var(--color-4-0);
  outline: 4px solid var(--color-3);
  width: 95vw;
  height: 55vh; }

.project.flip {
  position: fixed;
  top: 35%;
  left: .7%;
  transform: translate(2%, -35%);
  z-index: 1; }

.project .project-front,
.project .project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  overflow: hidden; }

.project-front h5 {
  font-size: 1.5rem;
  font-family: var(--font-1);
  letter-spacing: 3px;
  margin: 35px 15px 0 15px;
  color: transparent;
  text-shadow: 1px 1px 0 var(--color-22), 2px 2px 0 var(--color-41), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }

.project-front p {
  margin: 15px; }

.project .project-back {
  transform: rotateY(180deg); }

.project-year {
  position: absolute;
  left: -15px;
  top: -16px;
  font-family: var(--font-1);
  font-size: 1.8em;
  font-weight: bold;
  padding: 0 15px;
  background-color: var(--color-00);
  border-radius: 14px 1px 35px 1px;
  outline: 1px solid var(--color-1);
  color: var(--color-22);
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0);
  box-shadow: inset -2px -2px 10px var(--color-3-1), 2px 2px 10px var(--color-22); }

@media screen and (max-width: 768px) {
  .project-management-container {
    grid-template-columns: 1fr;
    /* Nur eine Spalte für mobile Ansicht */
    max-width: 100%;
    /* Container passt sich der Bildschirmbreite an */
    padding: 10px;
    /* Geringer seitlicher Abstand */ }

  .project {
    width: 100%;
    /* Projekte füllen die gesamte Breite des Containers */
    /*    max-width: 95vw; !* Keine maximale Breite für Projekte *!*/
    max-width: 95%;
    /* Keine maximale Breite für Projekte */ } }
#credits {
  width: 100vw;
  background-color: var(--color-000); }

#credits-h2 {
  justify-self: start !important;
  margin: 0;
  left: 0;
  bottom: 0; }

.credits-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 90vh;
  max-height: 90vh;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden; }

.credits {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 100vw;
  max-width: 100vw;
  z-index: -1; }

.fade {
  position: relative;
  min-width: 100vw;
  top: -25px;
  background-image: linear-gradient(0deg, transparent 0%, black 100%); }

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 75vh;
  max-height: 75vh;
  min-width: 100vw;
  max-width: 100vw;
  color: var(--color-23);
  font-family: var(--font-2);
  font-size: 500%;
  font-weight: 600;
  line-height: 150%;
  perspective: 200px;
  letter-spacing: 10px;
  text-align: justify;
  overflow: hidden; }

.credits-title {
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 600%;
  line-height: .62;
  color: var(--color-4);
  font-weight: 600;
  letter-spacing: 42px; }

.credits-title p {
  padding: 0; }

.episode-number {
  margin: 15px 0 50px 0;
  font-size: 600%; }

.credits-title > h6 {
  margin-top: 33px;
  font-size: 212%;
  color: var(--color-3-1); }

h6 {
  line-height: .85; }

.crawl {
  position: relative;
  bottom: 0;
  transform-origin: 50% 100%;
  animation: crawl 50s linear; }

.crawl > .credits-title {
  font-size: 90%; }

.crawl > .credits-title h6 {
  margin: 0 0 100px; }

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0); }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px); } }
.credits-i {
  color: var(--color-0);
  scale: 1.25;
  margin: 0 3.5vw; }

.credits-i:hover {
  color: var(--color-3-2); }

nav {
  position: fixed;
  width: 100vw;
  top: 3vh;
  display: flex;
  justify-content: center;
  align-items: start; }
  nav a {
    text-decoration: none;
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 20vw;
    margin: 2.75vh .5vw 0 .5vw;
    transition: text-shadow 50ms ease, color 50ms ease;
    letter-spacing: 8px;
    color: transparent;
    text-shadow: 1px 1px 0 var(--color-22), 1px 2px 0 var(--color-4-0), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }
    nav a:hover {
      transform: scale(1.2);
      font-weight: bold;
      color: var(--color-41); }
    nav a.active {
      font-weight: bold;
      /*     transform: rotateX(180deg) rotateZ(180deg) scaleX(-1);*/
      animation: mirrorRotate 1s forwards;
      color: transparent;
      text-shadow: 1px 1px 0 var(--color-2), 0 0 0 var(--color-41), 2px 2px 0 var(--color-41), 1px -1px 0px var(--color-0), -1px 0px 0px var(--color-0), -1px -1px 0px var(--color-0), 1px 0px 0px var(--color-0), 3px 3px 0px var(--color-0), -1px 2px 0px var(--color-0), -1px 0px 0px var(--color-0), 0px -1px 0px var(--color-0); }
    nav a:hover:not(:focus), nav a:active:not(.active) {
      color: var(--color-3-1);
      font-weight: bold; }
  nav a:not(.active):focus {
    color: var(--color-41);
    outline: none;
    animation: bounce 1s 0.5;
    font-weight: bold;
    text-shadow: none; }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }
  nav a.active:focus {
    color: var(--color-4-0);
    outline: none;
    text-shadow: none; }
  nav #es-nav-logo {
    margin: 0;
    transition: transform 0.5s ease;
    animation: none; }
  nav #es-nav-logo:hover,
  nav #es-nav-logo:focus,
  nav #es-nav-logo.active {
    scale: 1.2;
    animation: none; }
  nav #es-nav-logo.active img {
    transform: scale(1.2); }
  nav i:hover {
    scale: 1.2;
    color: var(--color-4-0); }

.business-card-container a:hover {
  color: var(--color-41);
  animation: none;
  transform: none; }

#business-card-nav-link,
#credits-nav-link {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  top: 0;
  width: 7rem;
  padding: 5px 10px 0 25px;
  border-bottom: 1px solid var(--color-2);
  border-left: 2px solid var(--color-1);
  border-radius: 0 0 2px 35px;
  background-color: var(--color-3-2);
  box-shadow: inset 0 -5px 10px var(--color-3-1), inset -3px 5px 9px var(--color-23);
  opacity: .5; }

#business-card-nav-link {
  left: 0;
  padding: 5px 20px 0 15px;
  border-left: 2px solid var(--color-1);
  border-radius: 0 2px 35px 0;
  box-shadow: inset 0 5px 10px var(--color-3-1), inset 3px 5px 9px var(--color-23); }

#business-card-nav-link:hover,
#credits-nav-link:hover {
  opacity: 1; }

#business-card-nav-link a,
#credits-nav-link a {
  margin: 0;
  max-width: fit-content;
  color: var(--color-4);
  font-size: 1.3rem;
  top: 0;
  letter-spacing: 5px; }

#business-card-nav-link a:focus,
#business-card-nav-link a:hover,
#credits-nav-link a:focus,
#credits-nav-link a:hover {
  font-weight: bold;
  color: var(--color-4);
  transform: none; }

#business-card-nav-link a.active,
#credits-nav-link a.active {
  color: var(--color-41);
  font-weight: bold;
  animation: none; }

.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  right: 3.75vw;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.4s ease; }

@media only screen and (min-height: 50vh) {
  .scroll-to-top.show {
    display: block; } }
@keyframes mirrorRotate {
  0% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(0deg); }
  50% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(90deg); }
  100% {
    transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1) rotateY(180deg);
    @keyframes bounce {
      0% {
        transform: translateY(0); }
      50% {
        transform: translateY(-0.75rem); }
      100% {
        transform: translateY(0); } }
    animation: bounce 2.5s 1; } }
.menu-toggle {
  position: absolute;
  right: 15px;
  z-index: 9999; }

.burger-line {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: transform 0.3s ease; }

.nav-open .burger-line:nth-child(1) {
  position: relative;
  transform: translateY(8px) rotate(45deg); }

.nav-open .burger-line:nth-child(2) {
  opacity: 0; }

.nav-open .burger-line:nth-child(3) {
  position: relative;
  transform: translateY(-10px) rotate(-45deg); }

.nav-open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-01);
  padding: 50px 0;
  border-bottom-left-radius: 150px;
  outline: 1px solid var(--color-3-1);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease;
  transform: translateX(0); }

.nav-open .mobile-nav a {
  color: var(--color-4); }

.nav-open .mobile-nav a.active {
  color: var(--color-3);
  font-weight: bold;
  transform: scale(1.5) rotateX(180deg) rotateZ(180deg) scaleX(-1);
  animation: mirrorRotate 1s forwards; }

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; }

  nav {
    display: none; }

  nav a {
    font-size: 3.25vw; }

  #business-card {
    display: none; }

  #credits-nav-link {
    position: absolute;
    top: 0; } }
/* Stile für größere Bildschirme (mindestens 769px Bildschirmbreite) */
@media screen and (min-width: 769px) {
  /* Verstecken Sie den Burger-Button und zeigen Sie das normale Menü */
  .menu-toggle {
    display: none; }

  nav {
    display: flex; } }
footer {
  color: var(--color-21);
  position: fixed;
  bottom: 0;
  left: -8px;
  width: 100vw;
  height: 3rem;
  background-color: var(--color-0);
  box-shadow: 0 -25px 25px var(--color-0);
  z-index: 1000; }

footer .ripples-container-large {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1000; }

i {
  position: relative;
  bottom: 1.5vh;
  margin: 0 10px;
  color: var(--color-4);
  font-size: 3rem;
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0); }

#fa-square-phone-flip {
  transform: scaleX(-1) rotate(90deg); }

/*footer a:hover,
footer a:active,
footer i:active {
  scale: 1.2;
  color: var(--color-41);
}*/
/*footer a:focus,
footer a:focus i{
  color: var(--color-41);
  outline: none;
  @include animate(bounce, up, null, 1s, .5);
  scale: 1.2;
}*/
@media only screen and (max-width: 768px) {
  footer {
    max-width: 100vw;
    box-shadow: 0 -2vh 1vh var(--color-0); } }
:root {
  font-family: Typewriter, ui-monospace, monospace, sans-serif;
  width: 100%;
  height: fit-content;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --font-1: Typewriter, ui-monospace, monospace, sans-serif;
  --font-2: 'Alfa Slab One', cursive;
  --color-0: #020202;
  --color-00: #050505;
  --color-000: #0a0a0a;
  --color-01: #171717;
  --color-011: #1f1e1e;
  --color-1: #232121;
  --color-11: #232323;
  --color-2: #2f2f2f;
  --color-21: #444444;
  --color-22: #595959;
  --color-23: #6e6e6e;
  --color-3-3: #0e0000;
  --color-3-2: #1c0000;
  --color-3-11: #2f0303;
  --color-3-1: #460505;
  --color-3: #5e0404;
  --color-31: #8d0a06;
  --color-4: #838383;
  --color-41: #b4b4b4;
  --color-4-0: #d3d3d3;
  --color-5-2: #334bf5;
  --color-5-1: #1832e3;
  --color-5: #011bd3;
  --color-51: #010186;
  --color-52: #000b6d;
  --color-53: #000650;
  --color-6: #912800;
  background-color: var(--color-01);
  color: var(--color-4); }

body {
  position: sticky;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll; }

body::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

body::-webkit-scrollbar-track {
  background-color: #101010; }

body::-webkit-scrollbar-corner {
  background-color: #101010; }

body::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
  border: 1px solid var(--color-4-0);
  border-radius: 25px; }

.shadow-wrapper-start,
.shadow-wrapper-end {
  position: fixed;
  top: 10vh;
  left: -.3vw;
  min-height: 85vh;
  min-width: 100vw;
  max-width: 100vw;
  box-shadow: inset 50px 0 25px var(--color-0);
  z-index: 2; }

.shadow-wrapper-end {
  box-shadow: inset -50px 0 25px var(--color-0); }

#es-logo {
  /*  position: fixed;
    margin: 0;*/
  height: 12.3vh;
  /*  top: .5vh;*/
  /*  left: .5vw;*/
  filter: brightness(65%); }

.section {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 86.5vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: transparent;
  z-index: 3; }

h2 {
  position: absolute;
  margin: 0 6vw 6vh 0;
  padding: 0;
  bottom: 0;
  right: 0;
  text-align: start;
  justify-self: end;
  font-size: 5vmax;
  font-family: var(--font-2);
  color: var(--color-0);
  letter-spacing: 10px;
  filter: brightness(75%);
  text-shadow: 1px 1px 3px var(--color-4), 4px 4px 10px var(--color-3-3), 1px 0 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0);
  z-index: 0; }

.section-hashtag {
  position: relative;
  top: -1vmax;
  right: -2.25vmax;
  font-size: 6.5vmax;
  font-family: var(--font-2);
  color: var(--color-3-11);
  transform: perspective(1000px) rotateY(50deg);
  text-shadow: 1px 1px 5px var(--color-4), 1px -1px 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0), 3px 10px 5px var(--color-00);
  z-index: -1; }

.educations-container {
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10000; }

#educations-dot {
  position: fixed;
  margin: 0;
  left: .4rem;
  bottom: -.7rem;
  font-size: 4rem;
  animation: blink 2.5s infinite;
  color: var(--color-3);
  text-shadow: 1px -1px 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0); }

.educations-wrapper {
  position: fixed;
  left: 2.3rem;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden; }

#educations {
  position: fixed;
  margin: 0;
  bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  color: var(--color-41);
  letter-spacing: 3px;
  text-shadow: 1px -1px 1px var(--color-2), -1px 0 1px var(--color-00), -1px -1px 1px var(--color-4-0);
  white-space: nowrap;
  overflow: hidden; }

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@media only screen and (max-width: 768px) {
  h1 {
    scale: 0.7;
    top: -91px;
    left: -30px; }

  h2 {
    position: absolute;
    margin: 0 10vw 0 0;
    top: 0; }

  .section {
    max-height: 80vh; }

  .shadow-wrapper-start {
    box-shadow: inset 5vw 0 2.5vw var(--color-0); }

  .shadow-wrapper-end {
    box-shadow: inset -5vw 0 2.5vw var(--color-0); }

  .greeting-container {
    position: absolute;
    width: 100vw;
    left: 60%; }

  .greeting {
    position: absolute;
    font-size: medium;
    width: 35%;
    top: 10%;
    left: 53%;
    display: block;
    /* Jedes Wort in einer separaten Zeile anzeigen */
    text-align: start;
    overflow: hidden;
    background: linear-gradient(180deg, var(--color-22), var(--color-23), var(--color-4-0)) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animate 6s linear infinite;
    line-height: 3;
    /* Erhöht den Abstand zwischen den Zeilen */ }

  @keyframes animate {
    0% {
      background-size: 100% 0; }
    100% {
      background-size: 100% 100%; } }
  .es {
    left: -.5%;
    filter: brightness(45%); }

  .educations-container {
    position: fixed;
    height: 1.2rem;
    bottom: 4rem;
    width: 100vw;
    z-index: 10000; }

  #educations-dot {
    position: fixed;
    margin: 0;
    left: 0;
    bottom: 3.05rem;
    font-size: 2rem; }

  .educations-wrapper {
    left: 1rem;
    white-space: nowrap;
    overflow: hidden; }

  #educations {
    margin: 0;
    font-size: 1rem;
    bottom: 3.6rem; }

  footer {
    position: fixed;
    justify-content: center; } }

/*# sourceMappingURL=styles.css.map */
